# 데이터 불러오기

In [1]:
from matplotlib import rc
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import os
import pickle

import warnings
warnings.filterwarnings('ignore')


rc('font', family='AppleGothic')
plt.rcParams['axes.unicode_minus'] = False

# 경쟁사이용
competitor = pd.read_csv('../../data/경쟁사이용.txt', encoding='cp949')
display(competitor)
# 고객DEMO
pp_demo = pd.read_pickle("../../DATA_preprocessed/pp_demo.pickle")
display(pp_demo)
# 멤버심 여부
member = pd.read_csv('../../data/멤버십여부.txt', encoding='cp949')
display(member)
# 채널이용
channel = pd.read_csv('../../data/채널이용.txt', encoding='cp949')
display(channel)

# 상금 거래 관련
pp_purprd_prodcl = pd.read_pickle('../../DATA_preprocessed/pp_purprd_prodcl.pickle')
pp_purprd_prodcl

        고객번호 제휴사  경쟁사    이용년월
0          2   D  D02  201507
1         51   D  D01  201504
2         77   D  D02  201503
3         77   D  D02  201506
4         77   D  D02  201507
...      ...  ..  ...     ...
28154  19375   B  B01  201501
28155  19375   B  B01  201507
28156  19375   C  C03  201511
28157  19376   B  B01  201506
28158  19377   B  B01  201504

[28159 rows x 4 columns]

        고객번호 성별      연령대       거주지역
0          1  M    60세이상  서울특별시 강남구
1          2  M    60세이상        경기도
2          3  M    60세이상  서울특별시 은평구
3          4  F    60세이상  서울특별시 노원구
4          5  M    60세이상        경기도
...      ... ..      ...        ...
19378  19379  F  20세~24세  서울특별시 동작구
19379  19380  F  20세~24세  서울특별시 마포구
19380  19381  F  40세~44세      부산광역시
19381  19382  F  45세~49세      부산광역시
19382  19383  F  25세~29세       경상남도

[19383 rows x 4 columns]

       고객번호  멤버십명    가입년월
0        11  하이마트  201512
1        21  하이마트  201506
2        37  하이마트  201306
3        43  하이마트  201403
4        44  하이마트  201411
...     ...   ...     ...
7451  19377    롭스  201411
7452  19379    롭스  201412
7453  19380    롭스  201412
7454  19381   다둥이  201506
7455  19383    롭스  201507

[7456 rows x 3 columns]

       고객번호           제휴사  이용횟수
0         7  A_MOBILE/APP     4
1        14  A_MOBILE/APP     1
2        42  B_MOBILE/APP    23
3        74  A_MOBILE/APP     1
4        74  B_MOBILE/APP    30
...     ...           ...   ...
8819  19168  C_ONLINEMALL    18
8820  19291  C_ONLINEMALL     1
8821  19312  B_ONLINEMALL   137
8822  19351  C_ONLINEMALL    19
8823  19356  C_ONLINEMALL    16

[8824 rows x 3 columns]

,고객번호,제휴사,영수증번호,점포코드,구매_연,구매_월,구매_일,구매시간,소분류코드,구매금액,대분류명,대중분류명,중분류명,제휴사_중분류명,소분류명,TYPE,lev
0,1,A,1182697,12,2014,1,8,14,A010302,4800,식품,유제품,축산가공,A축산가공,유제품,편의품,중가
1,1,A,1239229,12,2014,1,18,15,A010302,3500,식품,유제품,축산가공,A축산가공,유제품,편의품,중가
2,1,A,1307657,12,2014,1,30,11,A010302,3900,식품,유제품,축산가공,A축산가공,유제품,편의품,중가
3,1,A,1402358,12,2014,2,18,16,A010302,3500,식품,유제품,축산가공,A축산가공,유제품,편의품,중가
4,1,A,1456379,12,2014,2,28,15,A010302,3500,식품,유제품,축산가공,A축산가공,유제품,편의품,중가
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28437049,18697,C,631324,29,2014,5,30,21,C060405,2300,식품,즉석식품,베이커리,C베이커리,페스츄리류,편의품,중가
28437050,18697,C,631629,29,2014,7,20,15,C060405,2300,식품,즉석식품,베이커리,C베이커리,페스츄리류,편의품,중가
28437051,18710,C,1073027,75,2015,1,22,12,C030312,7990,식품,채소류,근채류,C근채류,기타한방약재,편의품,고가
28437052,18710,C,1073138,75,2015,1,29,21,C030312,7990,식품,채소류,근채류,C근채류,기타한방약재,편의품,고가
28437053,19364,D,209812,13,2015,7,11,21,D040112,10500,식품,공산식품,과자,D과자,컵아이스크림,편의품,중가

# EDA

### pp_purprd_prodcl : 분기 Feature 만들기

In [2]:

cond_2014_1 =(pp_purprd_prodcl['구매_연']==2014)&(pp_purprd_prodcl['구매_월']<=3)
cond_2014_2 =(pp_purprd_prodcl['구매_연']==2014)&((pp_purprd_prodcl['구매_월']>3)&(pp_purprd_prodcl['구매_월']<=6))
cond_2014_3 =(pp_purprd_prodcl['구매_연']==2014)&((pp_purprd_prodcl['구매_월']>6)&(pp_purprd_prodcl['구매_월']<=9))
cond_2014_4 =(pp_purprd_prodcl['구매_연']==2014)&((pp_purprd_prodcl['구매_월']>9)&(pp_purprd_prodcl['구매_월']<=12))
cond_2015_1 =(pp_purprd_prodcl['구매_연']==2015)&(pp_purprd_prodcl['구매_월']<=3)
cond_2015_2 =(pp_purprd_prodcl['구매_연']==2015)&((pp_purprd_prodcl['구매_월']>3)&(pp_purprd_prodcl['구매_월']<=6))
cond_2015_3 =(pp_purprd_prodcl['구매_연']==2015)&((pp_purprd_prodcl['구매_월']>6)&(pp_purprd_prodcl['구매_월']<=9))
cond_2015_4 =(pp_purprd_prodcl['구매_연']==2015)&((pp_purprd_prodcl['구매_월']>9)&(pp_purprd_prodcl['구매_월']<=12))

pp_purprd_prodcl['분기']=0

pp_purprd_prodcl.loc[cond_2014_1,'분기']='14_1'
pp_purprd_prodcl.loc[cond_2014_2,'분기']='14_2'
pp_purprd_prodcl.loc[cond_2014_3,'분기']='14_3'
pp_purprd_prodcl.loc[cond_2014_4,'분기']='14_4'
pp_purprd_prodcl.loc[cond_2015_1,'분기']='15_1'
pp_purprd_prodcl.loc[cond_2015_2,'분기']='15_2'
pp_purprd_prodcl.loc[cond_2015_3,'분기']='15_3'
pp_purprd_prodcl.loc[cond_2015_4,'분기']='15_4'

pp_purprd_prodcl

,고객번호,제휴사,영수증번호,점포코드,구매_연,구매_월,구매_일,구매시간,소분류코드,구매금액,대분류명,대중분류명,중분류명,제휴사_중분류명,소분류명,TYPE,lev,분기
0,1,A,1182697,12,2014,1,8,14,A010302,4800,식품,유제품,축산가공,A축산가공,유제품,편의품,중가,14_1
1,1,A,1239229,12,2014,1,18,15,A010302,3500,식품,유제품,축산가공,A축산가공,유제품,편의품,중가,14_1
2,1,A,1307657,12,2014,1,30,11,A010302,3900,식품,유제품,축산가공,A축산가공,유제품,편의품,중가,14_1
3,1,A,1402358,12,2014,2,18,16,A010302,3500,식품,유제품,축산가공,A축산가공,유제품,편의품,중가,14_1
4,1,A,1456379,12,2014,2,28,15,A010302,3500,식품,유제품,축산가공,A축산가공,유제품,편의품,중가,14_1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28437049,18697,C,631324,29,2014,5,30,21,C060405,2300,식품,즉석식품,베이커리,C베이커리,페스츄리류,편의품,중가,14_2
28437050,18697,C,631629,29,2014,7,20,15,C060405,2300,식품,즉석식품,베이커리,C베이커리,페스츄리류,편의품,중가,14_3
28437051,18710,C,1073027,75,2015,1,22,12,C030312,7990,식품,채소류,근채류,C근채류,기타한방약재,편의품,고가,15_1
28437052,18710,C,1073138,75,2015,1,29,21,C030312,7990,식품,채소류,근채류,C근채류,기타한방약재,편의품,고가,15_1
28437053,19364,D,209812,13,2015,7,11,21,D040112,10500,식품,공산식품,과자,D과자,컵아이스크림,편의품,중가,15_3

### 분석할 Feature Set

In [3]:
feature_set = {
    '대분류명' : ['패션잡화','식품','일상용품'],
    'TYPE' : ['편의품','선매품'],
    'lev' : ['중가','고가'],
    '구매금액' : ['구매금액']
}

### 구매 금액 등급화 및 변동지수(target data)생성

In [8]:
# 등급 부여 사용자 정의 함수
def make_cust_sale_grade(x, y):
    if x > fractile_list[y][7]:
        return 9
    elif x > fractile_list[y][6]:
        return 8
    elif x > fractile_list[y][5]:
        return 7
    elif x > fractile_list[y][4]:
        return 6
    elif x > fractile_list[y][3]:
        return 5
    elif x > fractile_list[y][2]:
        return 4
    elif x > fractile_list[y][1]:
        return 3
    elif x > fractile_list[y][0]:
        return 2
    else:
        return 1 
    

pp_datasets = pp_demo['고객번호']
for i in feature_set.keys():
    for j in range(len(feature_set[i])):
        option = 'sum'
        if feature_set[i][j] == '구매금액':
            pp_pivot = pp_purprd_prodcl.pivot_table(index=['고객번호'], columns=['분기'], values='구매금액', aggfunc=(f'{option}'), fill_value=0)
        else:
            pp_pivot = pp_purprd_prodcl[pp_purprd_prodcl[i]==feature_set[i][j]].pivot_table(index=['고객번호'], columns=['분기'], values='구매금액', aggfunc=(f'{option}'), fill_value=0)
        
        # 등급 분위수 딕셔너리 생성
        Q_list = ['14_1', '14_2', '14_3', '14_4', '15_1', '15_2', '15_3', '15_4']
        fractile_list = {}
        for Q in Q_list:
            fractiles = []
            for percentile in [4, 11, 23, 40, 60, 77, 89, 96]:
                fractiles.append(np.percentile(pp_pivot[Q], percentile))
                fractile_list[Q] = fractiles
        # 고개별 분기별 feature 별 매출 등급 생성        
        for Q in Q_list:
            pp_pivot[str(Q)] = pp_pivot.apply(lambda row: make_cust_sale_grade(row[Q], Q), axis=1)
            
        # 분기별 매출 변화량 feature 생성 
        pp_pivot[str(feature_set[i][j])+'_14_2-14_1'] = (pp_pivot['14_2']-pp_pivot['14_1'])*1
        pp_pivot[str(feature_set[i][j])+'_14_3-14_2'] = (pp_pivot['14_3']-pp_pivot['14_2'])*1.1
        pp_pivot[str(feature_set[i][j])+'_14_4-14_3'] = (pp_pivot['14_4']-pp_pivot['14_3'])*1.2
        pp_pivot[str(feature_set[i][j])+'_15_1-14_4'] = (pp_pivot['15_1']-pp_pivot['14_4'])*1.3
        pp_pivot[str(feature_set[i][j])+'_15_2-15_1'] = (pp_pivot['15_2']-pp_pivot['15_1'])*1.4
        pp_pivot[str(feature_set[i][j])+'_15_3-15_2'] = (pp_pivot['15_3']-pp_pivot['15_2'])*1.5
        pp_pivot[str(feature_set[i][j])+'_15_4-15_3'] = (pp_pivot['15_4']-pp_pivot['14_3'])*1.6

        pp_pivot = pp_pivot.drop(columns=Q_list).reset_index()

        # 고객별 분기별 총매출 변동지수(target data) 생성
        if feature_set[i][j] == '구매금액':
            # 변동지수(변화량)에 가중치 부여 (가중치 최근 분기 일수록 옾은 가중치 부여)
            # coeff_var = np.linspace(1,1.5,num=6) # 1부터 0.1씩 증가
            coeff_var=[1, 1, 1, 1, 1, 1]
            pp_pivot[str(feature_set[i][j])+'_15_3분기_변동지수'] = (pp_pivot[str(feature_set[i][j])+'_14_2-14_1'])*coeff_var[0] +\
                                    (pp_pivot[str(feature_set[i][j])+'_14_3-14_2'])*coeff_var[1] +\
                                    (pp_pivot[str(feature_set[i][j])+'_14_4-14_3'])*coeff_var[2] +\
                                    (pp_pivot[str(feature_set[i][j])+'_15_1-14_4'])*coeff_var[3] +\
                                    (pp_pivot[str(feature_set[i][j])+'_15_2-15_1'])*coeff_var[4] +\
                                    (pp_pivot[str(feature_set[i][j])+'_15_3-15_2'])*coeff_var[5]

            pp_pivot[str(feature_set[i][j])+'_15_4분기_변동지수'] = (pp_pivot[str(feature_set[i][j])+'_14_3-14_2'])*coeff_var[0] +\
                                    (pp_pivot[str(feature_set[i][j])+'_14_4-14_3'])*coeff_var[1] +\
                                    (pp_pivot[str(feature_set[i][j])+'_15_1-14_4'])*coeff_var[2] +\
                                    (pp_pivot[str(feature_set[i][j])+'_15_2-15_1'])*coeff_var[3] +\
                                    (pp_pivot[str(feature_set[i][j])+'_15_3-15_2'])*coeff_var[4] +\
                                    (pp_pivot[str(feature_set[i][j])+'_15_4-15_3'])*coeff_var[5]
        else:
            pass
        
        pp_datasets = pd.merge(pp_datasets, pp_pivot, on='고객번호', how='left')
        
# 변동지수 생성 사용자 함수 : 고객별 분기 매출 등급 변화량 지수화 
def find_RP_by_cus(x):
    if x < 0:
        return 1 # 감소
    else:
        return 0 # 증가
pp_datasets['구매금액_15_3분기_변동지수'] = pp_datasets['구매금액_15_3분기_변동지수'].apply(find_RP_by_cus)
pp_datasets['구매금액_15_4분기_변동지수'] = pp_datasets['구매금액_15_4분기_변동지수'].apply(find_RP_by_cus)
pp_datasets.fillna(0)
pp_datasets.rename(index={'분기':'index'})
pp_datasets

,고객번호,패션잡화_14_2-14_1,패션잡화_14_3-14_2,패션잡화_14_4-14_3,패션잡화_15_1-14_4,패션잡화_15_2-15_1,패션잡화_15_3-15_2,패션잡화_15_4-15_3,식품_14_2-14_1,식품_14_3-14_2,...,고가_15_4-15_3,구매금액_14_2-14_1,구매금액_14_3-14_2,구매금액_14_4-14_3,구매금액_15_1-14_4,구매금액_15_2-15_1,구매금액_15_3-15_2,구매금액_15_4-15_3,구매금액_15_3분기_변동지수,구매금액_15_4분기_변동지수
0,1,1.0,0.0,0.0,0.0,0.0,0.0,-1.6,1.0,-3.3,...,-3.2,0,0.0,1.2,-1.3,0.0,0.0,-1.6,1,1
1,2,0.0,1.1,-1.2,1.3,-1.4,1.5,-1.6,0.0,-1.1,...,-1.6,-1,1.1,-2.4,2.6,-1.4,1.5,-1.6,0,1
2,3,0.0,0.0,0.0,0.0,0.0,0.0,3.2,0.0,1.1,...,-1.6,0,0.0,-1.2,0.0,0.0,0.0,-1.6,1,1
3,4,1.0,-1.1,-2.4,1.3,0.0,1.5,-1.6,2.0,-3.3,...,0.0,2,0.0,-1.2,0.0,0.0,0.0,-3.2,0,1
4,5,0.0,0.0,-4.8,0.0,0.0,0.0,0.0,-1.0,-1.1,...,3.2,-1,0.0,-4.8,5.2,-4.2,-1.5,1.6,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19378,19379,0.0,3.3,1.2,0.0,-1.4,1.5,3.2,0.0,0.0,...,6.4,0,0.0,2.4,0.0,1.4,-3.0,4.8,0,0
19379,19380,0.0,0.0,0.0,0.0,4.2,-4.5,6.4,0.0,0.0,...,6.4,0,0.0,0.0,0.0,0.0,0.0,6.4,0,0
19380,19381,0.0,0.0,0.0,5.2,-5.6,4.5,3.2,0.0,0.0,...,6.4,0,0.0,0.0,2.6,1.4,1.5,4.8,0,0
19381,19382,0.0,0.0,0.0,3.9,-4.2,0.0,0.0,0.0,0.0,...,4.8,0,0.0,0.0,1.3,1.4,1.5,4.8,0,0
19382,19383,0.0,0.0,0.0,0.0,0.0,7.5,6.4,0.0,0.0,...,6.4,0,0.0,0.0,0.0,0.0,3.0,4.8,0,0

# 머신러닝

## 라이브러리 import

In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score, roc_auc_score
from sklearn.metrics import f1_score, confusion_matrix, precision_recall_curve, roc_curve
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from lightgbm import LGBMClassifier
from xgboost import XGBClassifier

## 머신러닝 평가 지표 출력 사용자 함수 생성

In [10]:
def get_clf_eval(y_test, pred=None, pred_proba=None):
    confusion = confusion_matrix( y_test, pred)
    accuracy = accuracy_score(y_test , pred)
    precision = precision_score(y_test , pred)
    recall = recall_score(y_test , pred)
    f1 = f1_score(y_test,pred)
    # ROC-AUC 추가 
    roc_auc = roc_auc_score(y_test, pred_proba)
    print('오차 행렬')
    print(confusion)
    # ROC-AUC print 추가
    print('정확도: {0:.4f}, 정밀도: {1:.4f}, 재현율: {2:.4f},\
          F1: {3:.4f}, AUC:{4:.4f}'.format(accuracy, precision, recall, f1, roc_auc))

## 머신러닝 사용자 함수

In [13]:
def ml(df_final,pp_demo):
    # 고객 Demo Data -> One-Hot 인코딩
    pp_demo = pd.get_dummies(pp_demo)
    # Merge
    final_df = pd.merge(pp_demo, df_final, on='고객번호').fillna(0)
    display(final_df)

    a = pd.Series(final_df.columns, name='컬럼')[pd.Series(final_df.columns, name='컬럼').str.contains('15_3-15_2')].values.tolist()
    b = pd.Series(final_df.columns, name='컬럼')[pd.Series(final_df.columns, name='컬럼').str.contains('15_4-15_3')].values.tolist()
    li = ['구매금액_15_3분기_변동지수','구매금액_15_4분기_변동지수']
    li = li + a + b
    X_train = final_df.drop(columns=li)
    for i in X_train.columns:
        X_train[i]
    y_train = final_df['구매금액_15_3분기_변동지수']
    
    a = pd.Series(final_df.columns, name='컬럼')[pd.Series(final_df.columns, name='컬럼').str.contains('14_2-14_1')].values.tolist()
    b = pd.Series(final_df.columns, name='컬럼')[pd.Series(final_df.columns, name='컬럼').str.contains('15_4-15_3')].values.tolist()
    li = ['구매금액_15_3분기_변동지수','구매금액_15_4분기_변동지수']
    li = li + a + b
    X_test = final_df.drop(columns=li)
    y_test = final_df['구매금액_15_4분기_변동지수']


    # 로지스틱 회귀로 학습,예측 및 평가 수행. 
    lr_clf = LogisticRegression(solver='liblinear')
    dt_clf = DecisionTreeClassifier()
    rf_clf = RandomForestClassifier()
    lgbm_clf = LGBMClassifier(n_estimators=1000, num_leaves=50, n_jobs=-1, boost_from_average=False)
    xgb_clf = XGBClassifier(n_estimators=1000, n_jobs=-1 )
    
    lr_clf.fit(X_train , y_train)
    dt_clf.fit(X_train , y_train)
    rf_clf.fit(X_train , y_train)
    lgbm_clf.fit(X_train, y_train)
    xgb_clf.fit(X_train, y_train)
    
    pred_lr = lr_clf.predict(X_test)
    pred_dt = dt_clf.predict(X_test)
    pred_rf = rf_clf.predict(X_test)
    pred_lgbm = lgbm_clf.predict(X_test)
    pred_xgb = xgb_clf.predict(X_test)
    
    pred_proba_lr = lr_clf.predict_proba(X_test)[:, 1]
    pred_proba_dt = dt_clf.predict_proba(X_test)[:, 1]
    pred_proba_rf = rf_clf.predict_proba(X_test)[:, 1]
    pred_proba_lgbm = lgbm_clf.predict_proba(X_test)[:, 1]
    pred_proba_xgb = xgb_clf.predict_proba(X_test)[:, 1]
    
    get_clf_eval(y_test, pred_lr, pred_proba_lr)
    get_clf_eval(y_test, pred_dt, pred_proba_dt)
    get_clf_eval(y_test, pred_rf, pred_proba_rf)
    get_clf_eval(y_test, pred_lgbm, pred_proba_lgbm)
    get_clf_eval(y_test, pred_xgb, pred_proba_xgb)
    
    return pred_lr
pred_lr = ml(pp_datasets,pp_demo)
pred_lr

,고객번호,성별_F,성별_M,연령대_19세이하,연령대_20세~24세,연령대_25세~29세,연령대_30세~34세,연령대_35세~39세,연령대_40세~44세,연령대_45세~49세,...,고가_15_4-15_3,구매금액_14_2-14_1,구매금액_14_3-14_2,구매금액_14_4-14_3,구매금액_15_1-14_4,구매금액_15_2-15_1,구매금액_15_3-15_2,구매금액_15_4-15_3,구매금액_15_3분기_변동지수,구매금액_15_4분기_변동지수
0,1,0,1,0,0,0,0,0,0,0,...,-3.2,0,0.0,1.2,-1.3,0.0,0.0,-1.6,1,1
1,2,0,1,0,0,0,0,0,0,0,...,-1.6,-1,1.1,-2.4,2.6,-1.4,1.5,-1.6,0,1
2,3,0,1,0,0,0,0,0,0,0,...,-1.6,0,0.0,-1.2,0.0,0.0,0.0,-1.6,1,1
3,4,1,0,0,0,0,0,0,0,0,...,0.0,2,0.0,-1.2,0.0,0.0,0.0,-3.2,0,1
4,5,0,1,0,0,0,0,0,0,0,...,3.2,-1,0.0,-4.8,5.2,-4.2,-1.5,1.6,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19378,19379,1,0,0,1,0,0,0,0,0,...,6.4,0,0.0,2.4,0.0,1.4,-3.0,4.8,0,0
19379,19380,1,0,0,1,0,0,0,0,0,...,6.4,0,0.0,0.0,0.0,0.0,0.0,6.4,0,0
19380,19381,1,0,0,0,0,0,0,1,0,...,6.4,0,0.0,0.0,2.6,1.4,1.5,4.8,0,0
19381,19382,1,0,0,0,0,0,0,0,1,...,4.8,0,0.0,0.0,1.3,1.4,1.5,4.8,0,0
19382,19383,1,0,0,0,1,0,0,0,0,...,6.4,0,0.0,0.0,0.0,0.0,3.0,4.8,0,0

오차 행렬
[[7900 2202]
 [2972 6309]]
정확도: 0.7331, 정밀도: 0.7413, 재현율: 0.6798,          F1: 0.7092, AUC:0.8169
오차 행렬
[[6169 3933]
 [4005 5276]]
정확도: 0.5905, 정밀도: 0.5729, 재현율: 0.5685,          F1: 0.5707, AUC:0.5896
오차 행렬
[[7555 2547]
 [3864 5417]]
정확도: 0.6692, 정밀도: 0.6802, 재현율: 0.5837,          F1: 0.6282, AUC:0.7382
오차 행렬
[[7498 2604]
 [3187 6094]]
정확도: 0.7012, 정밀도: 0.7006, 재현율: 0.6566,          F1: 0.6779, AUC:0.7660
오차 행렬
[[7292 2810]
 [3300 5981]]
정확도: 0.6848, 정밀도: 0.6804, 재현율: 0.6444,          F1: 0.6619, AUC:0.7515

array([1, 1, 1, ..., 0, 0, 0])

In [215]:
pp_datasets

,고객번호,패션잡화_14_2-14_1,패션잡화_14_3-14_2,패션잡화_14_4-14_3,패션잡화_15_1-14_4,패션잡화_15_2-15_1,패션잡화_15_3-15_2,패션잡화_15_4-15_3,식품_14_2-14_1,식품_14_3-14_2,...,고가_15_4-15_3,구매금액_14_2-14_1,구매금액_14_3-14_2,구매금액_14_4-14_3,구매금액_15_1-14_4,구매금액_15_2-15_1,구매금액_15_3-15_2,구매금액_15_4-15_3,구매금액_15_3분기_변동지수,구매금액_15_4분기_변동지수
0,1,1.0,0.0,0.0,0.0,0.0,0.0,-1.6,1.0,-3.3,...,-3.2,0,0.0,1.2,-1.3,0.0,0.0,-1.6,1,1
1,2,0.0,1.1,-1.2,1.3,-1.4,1.5,-1.6,0.0,-1.1,...,-1.6,-1,1.1,-2.4,2.6,-1.4,1.5,-1.6,0,1
2,3,0.0,0.0,0.0,0.0,0.0,0.0,3.2,0.0,1.1,...,-1.6,0,0.0,-1.2,0.0,0.0,0.0,-1.6,1,1
3,4,1.0,-1.1,-2.4,1.3,0.0,1.5,-1.6,2.0,-3.3,...,0.0,2,0.0,-1.2,0.0,0.0,0.0,-3.2,0,1
4,5,0.0,0.0,-4.8,0.0,0.0,0.0,0.0,-1.0,-1.1,...,3.2,-1,0.0,-4.8,5.2,-4.2,-1.5,1.6,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19378,19379,0.0,3.3,1.2,0.0,-1.4,1.5,3.2,0.0,0.0,...,6.4,0,0.0,2.4,0.0,1.4,-3.0,4.8,0,0
19379,19380,0.0,0.0,0.0,0.0,4.2,-4.5,6.4,0.0,0.0,...,6.4,0,0.0,0.0,0.0,0.0,0.0,6.4,0,0
19380,19381,0.0,0.0,0.0,5.2,-5.6,4.5,3.2,0.0,0.0,...,6.4,0,0.0,0.0,2.6,1.4,1.5,4.8,0,0
19381,19382,0.0,0.0,0.0,3.9,-4.2,0.0,0.0,0.0,0.0,...,4.8,0,0.0,0.0,1.3,1.4,1.5,4.8,0,0
19382,19383,0.0,0.0,0.0,0.0,0.0,7.5,6.4,0.0,0.0,...,6.4,0,0.0,0.0,0.0,0.0,3.0,4.8,0,0

# 추천 시스템

## 고객별 대중분류명별 분기별 총매출 sum

In [204]:
len(reco_cust_num)

8511

In [216]:
# 추천 시스템용 데이터(recommend)
reco = pd.merge(pp_demo, pp_datasets, on='고객번호', how='left')
reco_cust = reco[pred_lr==1]
reco_cust_num=reco_cust['고객번호'].values
reco_cust_num

array([    1,     2,     3, ..., 19346, 19360, 19364])

In [226]:
reco_cust_num

array([    1,     2,     3, ..., 19346, 19360, 19364])

In [229]:
reco_cust_pv = pp_purprd_prodcl.pivot_table(index=['고객번호','대중분류명'],columns='분기',values='구매금액',aggfunc='sum').reset_index()
reco_cust_pv=reco_cust_pv[reco_cust_pv['고객번호'].isin(reco_cust_num)]
reco_cust_pv=reco_cust_pv.fillna(0)
reco_cust_pv=reco_cust_pv.iloc[:,:-1]
reco_cust_pv

분기,고객번호,대중분류명,14_1,14_2,14_3,14_4,15_1,15_2,15_3
0,1,가공육,0.0,0.0,0.0,0.0,10000.0,0.0,0.0
1,1,감미료,0.0,0.0,0.0,35030.0,0.0,0.0,0.0
2,1,건강기능식품,860000.0,1911870.0,188100.0,27000.0,0.0,0.0,0.0
3,1,건어류,0.0,0.0,0.0,3750.0,0.0,5990.0,0.0
4,1,곡류,0.0,0.0,0.0,27900.0,107000.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
749451,19364,케어용품,0.0,1419720.0,1209300.0,1478000.0,835200.0,621890.0,1322500.0
749452,19364,패션잡화,0.0,0.0,0.0,600500.0,0.0,141990.0,0.0
749453,19364,편집샵,0.0,0.0,159000.0,253600.0,0.0,0.0,0.0
749454,19364,해산물,0.0,0.0,8990.0,0.0,0.0,0.0,0.0
749455,19364,화장품,0.0,189350.0,292600.0,485200.0,114600.0,848600.0,847100.0

 ## 이전 7분기의 고객별 대중분류별 총매출의 추세

In [230]:
grad_li = []
for i in range(len(reco_cust_pv)):
    
    z=np.polyfit(np.array([1.,2.,3.,4.,5.,6.,7.])*100,reco_cust_pv.iloc[i,2:].values.astype(float),1)[0]
    grad_li.append(z)
# len(grad_li)
reco_cust_pv['gradient'] = np.array([grad_li]).reshape(-1,1)
reco_cust_pv

분기,고객번호,대중분류명,14_1,14_2,14_3,14_4,15_1,15_2,15_3,gradient
0,1,가공육,0.0,0.0,0.0,0.0,10000.0,0.0,0.0,3.571429e+00
1,1,감미료,0.0,0.0,0.0,35030.0,0.0,0.0,0.0,-2.142608e-15
2,1,건강기능식품,860000.0,1911870.0,188100.0,27000.0,0.0,0.0,0.0,-2.354229e+03
3,1,건어류,0.0,0.0,0.0,3750.0,0.0,5990.0,0.0,4.278571e+00
4,1,곡류,0.0,0.0,0.0,27900.0,107000.0,0.0,0.0,3.821429e+01
...,...,...,...,...,...,...,...,...,...,...
749451,19364,케어용품,0.0,1419720.0,1209300.0,1478000.0,835200.0,621890.0,1322500.0,7.134786e+02
749452,19364,패션잡화,0.0,0.0,0.0,600500.0,0.0,141990.0,0.0,1.014214e+02
749453,19364,편집샵,0.0,0.0,159000.0,253600.0,0.0,0.0,0.0,-5.678571e+01
749454,19364,해산물,0.0,0.0,8990.0,0.0,0.0,0.0,0.0,-3.210714e+00
749455,19364,화장품,0.0,189350.0,292600.0,485200.0,114600.0,848600.0,847100.0,1.314929e+03

In [232]:
# 고객별 추천할 대중분류를 딕셔너리에 담기 
recom_dict = {}
for i in reco_cust_num:
    reco_group=reco_cust_pv[['고객번호','대중분류명','gradient']].groupby(['고객번호'])
    recom_dict[i] = reco_group.get_group((i)).sort_values(by='gradient')['대중분류명'].iloc[0]

recom_dict

{1: '건강기능식품',
 2: '레져',
 3: '주류',
 4: '패션잡화',
 5: '유제품',
 6: '공산식품',
 9: '디자이너',
 10: '명품',
 11: '대형가구',
 14: '기타의류',
 15: '명품',
 18: '디자이너',
 20: '농산물',
 22: '명품',
 23: '레져',
 24: '레져',
 25: '건강기능식품',
 29: '명품',
 32: '해산물',
 34: '육류',
 36: '대형가구',
 39: '디자이너',
 41: '공산식품',
 46: '명품',
 47: '디자이너',
 48: '디자이너',
 50: '패션잡화',
 51: '대형가전',
 52: '기타의류',
 53: '레져',
 54: '화장품',
 56: '명품',
 57: '곡류',
 58: '기타',
 59: '패션잡화',
 61: '편집샵',
 62: '유아용품',
 64: '즉석식품',
 65: '생활가전',
 66: '편집샵',
 68: '시계',
 70: '명품',
 71: '감미료',
 73: '디자이너',
 74: '편집샵',
 75: '곡류',
 77: '패션잡화',
 84: '편집샵',
 87: '대형가전',
 88: '레져',
 89: '남성의류',
 91: '농산물',
 96: '레져',
 97: '명품',
 99: '디자이너',
 100: '화장품',
 102: '명품',
 103: '과일류',
 105: '곡류',
 109: '유아용품',
 110: '스포츠의류',
 111: '우육',
 113: '기타',
 114: '여성의류',
 115: '농산물',
 116: '화장품',
 118: '화장품',
 119: '편집샵',
 124: '디자이너',
 125: '명품',
 127: '편집샵',
 128: '조류',
 130: '편집샵',
 131: '기타',
 132: '즉석식품',
 135: '디자이너',
 136: '스포츠의류',
 138: '명품',
 139: '디자이너',
 140: '화장품',
 144: '채소류',
 146: '명품',
 147: '명품',
 149: '편집샵',
 150: '남성의류',
 151: '대형가전',
 154: '명품',
 159: '유아용품',
 162: '기타',
 163: '화장품',
 165: '스포츠의류',
 166: '대형가구',
 170: '주류',
 173: '남성의류',
 176: '유아용품',
 177: '레져',
 180: '농산물',
 183: '곡류',
 184: '대형가구',
 186: '대형가전',
 190: '명품',
 194: '패션잡화',
 196: '기타의류',
 198: '레져',
 199: '즉석식품',
 200: '화장품',
 201: '남성의류',
 203: '남성의류',
 204: '편집샵',
 205: '기타',
 208: '명품',
 212: '생활용품',
 214: '침구류',
 215: '화장품',
 218: '디자이너',
 225: '주방용품',
 226: '공산식품',
 231: '편집샵',
 232: '유제품',
 236: '채소류',
 238: '패션잡화',
 239: '디자이너',
 240: '명품',
 247: '공산식품',
 248: '남성의류',
 251: '대형가구',
 252: '공산식품',
 254: '기타의류',
 255: '명품',
 257: '여성의류',
 259: '귀금속',
 260: '우육',
 261: '명품',
 262: '화장품',
 265: '디자이너',
 267: '편집샵',
 268: '명품',
 269: '편집샵',
 271: '기타의류',
 273: '생활가전',
 276: '채소류',
 277: '스포츠의류',
 278: '화장품',
 279: '농산물',
 283: '디자이너',
 287: '남성의류',
 289: '유아용품',
 296: '레져',
 297: '생활가전',
 299: '편집샵',
 301: '편집샵',
 302: '유아용품',
 307: '편집샵',
 308: '패션잡화',
 309: '대형가구',
 311: '화장품',
 312: '과일류',
 313: '생활가전',
 314: '대형가전',
 315: '대형가구',
 317: '대형가전',
 319: '생활가전',
 321: '명품',
 322: '감미료',
 323: '레져',
 325: '명품',
 326: '유아용품',
 329: '명품',
 331: '디자이너',
 334: '침구류',
 335: '패션잡화',
 336: '기타',
 338: '남성의류',
 340: '생활가전',
 342: '어류',
 345: '패션잡화',
 347: '디자이너',
 348: '어류',
 349: '공산식품',
 351: '화장품',
 352: '디자이너',
 353: '건강기능식품',
 355: '대형가구',
 357: '즉석식품',
 363: '명품',
 364: '침구류',
 365: '대형가전',
 368: '편집샵',
 372: '우육',
 374: '명품',
 377: '디자이너',
 378: '명품',
 380: '패션잡화',
 382: '편집샵',
 385: '패션잡화',
 386: '명품',
 387: '주방용품',
 388: '디자이너',
 389: '건강기능식품',
 391: '레져',
 394: '화장품',
 396: '여성의류',
 402: '편집샵',
 403: '화장품',
 405: '농산물',
 407: '주류',
 408: '명품',
 409: '대형가구',
 412: '명품',
 416: '명품',
 417: '대형가구',
 419: '편집샵',
 420: '편집샵',
 421: '패션잡화',
 422: '편집샵',
 423: '편집샵',
 424: '담배',
 426: '기타',
 429: '디자이너',
 432: '농산물',
 433: '편집샵',
 435: '기타의류',
 436: '레져',
 438: '명품',
 440: '편집샵',
 445: '공산식품',
 448: '대형가전',
 450: '디자이너',
 451: '편집샵',
 453: '귀금속',
 455: '명품',
 460: '남성의류',
 464: '편집샵',
 465: '명품',
 467: '명품',
 468: '남성의류',
 469: '명품',
 470: '곡류',
 471: '남성의류',
 477: '명품',
 478: '디자이너',
 479: '남성의류',
 481: '대형가전',
 483: '기타',
 486: '디자이너',
 491: '레져',
 492: '기타',
 494: '생활가전',
 500: '육류',
 502: '기타',
 504: '편집샵',
 507: '생활용품',
 509: '디자이너',
 510: '디자이너',
 511: '생활용품',
 515: '대형가전',
 516: '패션잡화',
 518: '디자이너',
 520: '생활가전',
 521: '디자이너',
 522: '남성의류',
 523: '공산식품',
 524: '편집샵',
 526: '기타',
 530: '편집샵',
 531: '화장품',
 538: '귀금속',
 540: '편집샵',
 542: '기타',
 543: '남성의류',
 544: '명품',
 546: '명품',
 547: '곡류',
 549: '유아용품',
 552: '디자이너',
 553: '남성의류',
 554: '편집샵',
 556: '스포츠의류',
 557: '편집샵',
 558: '명품',
 559: '화장품',
 562: '주방용품',
 564: '대형가구',
 565: '대형가구',
 567: '명품',
 570: '채소류',
 574: '명품',
 578: '디자이너',
 582: '패션잡화',
 583: '즉석식품',
 584: '패션잡화',
 585: '패션잡화',
 586: '디자이너',
 588: '명품',
 589: '귀금속',
 591: '공산식품',
 593: '유아용품',
 594: '생활용품',
 595: '편집샵',
 596: '해산물',
 597: '기타의류',
 598: '편집샵',
 603: '편집샵',
 604: '편집샵',
 605: '즉석식품',
 606: '명품',
 610: '명품',
 611: '건강기능식품',
 612: '주방용품',
 614: '기타의류',
 615: '디자이너',
 616: '남성의류',
 618: '패션잡화',
 619: '채소류',
 620: '기타',
 622: '남성의류',
 624: '공산식품',
 626: '남성의류',
 630: '편집샵',
 635: '디자이너',
 636: '대형가구',
 638: '침구류',
 640: '레져',
 642: '편집샵',
 643: '편집샵',
 644: '패션잡화',
 645: '레져',
 646: '공산식품',
 655: '담배',
 657: '화장품',
 658: '생활용품',
 659: '즉석식품',
 661: '패션잡화',
 662: '여성의류',
 666: '곡류',
 668: '패션잡화',
 669: '대형가전',
 670: '화장품',
 671: '편집샵',
 673: '화장품',
 674: '명품',
 679: '담배',
 680: '편집샵',
 682: '유제품',
 683: '여성의류',
 686: '명품',
 687: '해산물',
 689: '기타',
 693: '기타',
 695: '편집샵',
 696: '기타',
 697: '화장품',
 699: '편집샵',
 700: '과일류',
 701: '디자이너',
 702: '편집샵',
 703: '남성의류',
 705: '애완용품',
 706: '남성의류',
 707: '농산물',
 712: '침구류',
 715: '생활가전',
 718: '귀금속',
 720: '감미료',
 723: '스포츠의류',
 729: '편집샵',
 731: '우육',
 733: '편집샵',
 735: '명품',
 736: '디자이너',
 740: '돈육',
 741: '주방용품',
 742: '기타의류',
 746: '스포츠의류',
 747: '주방용품',
 749: '즉석식품',
 751: '곡류',
 753: '가공육',
 754: '편집샵',
 756: '편집샵',
 758: '생활가전',
 759: '생활가전',
 760: '편집샵',
 764: '건강기능식품',
 773: '편집샵',
 774: '귀금속',
 777: '기타',
 778: '채소류',
 780: '건강기능식품',
 781: '화장품',
 782: '공산식품',
 784: '명품',
 785: '농산물',
 788: '기타',
 789: '생활가전',
 790: '주류',
 791: '스포츠의류',
 793: '공산식품',
 797: '편집샵',
 798: '유제품',
 799: '기타의류',
 800: '화장품',
 801: '디자이너',
 802: '레져',
 804: '즉석식품',
 805: '패션잡화',
 807: '레져',
 810: '화장품',
 813: '즉석식품',
 815: '유제품',
 816: '공산식품',
 820: '즉석식품',
 826: '케어용품',
 827: '명품',
 828: '기타의류',
 830: '편집샵',
 831: '남성의류',
 832: '레져',
 833: '스포츠의류',
 837: '기타의류',
 841: '기타',
 846: '화장품',
 849: '대형가전',
 850: '디자이너',
 851: '육류',
 852: '편집샵',
 857: '주방용품',
 861: '디자이너',
 863: '귀금속',
 869: '생활용품',
 870: '생활가전',
 871: '돈육',
 872: '패션잡화',
 874: '편집샵',
 875: '명품',
 877: '패션잡화',
 878: '귀금속',
 883: '생활가전',
 884: '명품',
 887: '명품',
 889: '농산물',
 890: '생활가전',
 892: '과일류',
 893: '남성의류',
 894: '남성의류',
 896: '해산물',
 904: '주방용품',
 905: '레져',
 908: '공산식품',
 909: '패션잡화',
 911: '기타의류',
 913: '편집샵',
 918: '편집샵',
 921: '편집샵',
 922: '과일류',
 924: '대형가전',
 925: '레져',
 928: '명품',
 930: '곡류',
 932: '레스토랑',
 937: '남성의류',
 939: '편집샵',
 942: '유제품',
 943: '패션잡화',
 945: '화장품',
 946: '생활용품',
 947: '디자이너',
 953: '편집샵',
 954: '편집샵',
 960: '농산물',
 961: '스포츠의류',
 963: '대형가전',
 965: '명품',
 966: '명품',
 967: '공산식품',
 969: '레져',
 970: '화장품',
 971: '남성의류',
 974: '스포츠의류',
 975: '명품',
 976: '돈육',
 977: '패션잡화',
 978: '생활용품',
 979: '유제품',
 984: '대형가구',
 985: '패션잡화',
 988: '공산식품',
 989: '디자이너',
 990: '귀금속',
 995: '주방용품',
 997: '채소류',
 1000: '채소류',
 1004: '컴퓨터',
 1005: '대형가전',
 1007: '기타의류',
 1009: '주방용품',
 1013: '디자이너',
 1016: '편집샵',
 1017: '대형가전',
 1018: '남성의류',
 1019: '남성의류',
 1022: '건강기능식품',
 1027: '남성의류',
 1029: '패션잡화',
 1030: '스포츠의류',
 1031: '편집샵',
 1034: '과일류',
 1035: '패션잡화',
 1036: '패션잡화',
 1037: '과일류',
 1040: '주방용품',
 1041: '공산식품',
 1042: '기타',
 1044: '디자이너',
 1047: '디자이너',
 1048: '화장품',
 1049: '디자이너',
 1052: '남성의류',
 1053: '스포츠의류',
 1054: '공산식품',
 1059: '건강기능식품',
 1061: '화장품',
 1065: '패션잡화',
 1066: '생활가전',
 1068: '명품',
 1069: '편집샵',
 1072: '명품',
 1075: '주방용품',
 1078: '편집샵',
 1079: '편집샵',
 1084: '대형가전',
 1085: '스포츠의류',
 1086: '남성의류',
 1089: '수산물',
 1090: '기타',
 1094: '편집샵',
 1098: '레져',
 1099: '건강기능식품',
 1101: '농산물',
 1102: '공산식품',
 1105: '농산물',
 1106: '주류',
 1109: '기타',
 1110: '편집샵',
 1112: '공산식품',
 1113: '주방용품',
 1122: '기타의류',
 1123: '명품',
 1126: '생활가전',
 1127: '육류',
 1129: '남성의류',
 1132: '과일류',
 1133: '명품',
 1134: '남성의류',
 1137: '기타',
 1140: '기타식품',
 1141: '기타',
 1142: '화장품',
 1144: '편집샵',
 1145: '즉석식품',
 1146: '농산물',
 1147: '디자이너',
 1148: '스포츠의류',
 1150: '패션잡화',
 1152: '기타의류',
 1153: '명품',
 1155: '명품',
 1156: '편집샵',
 1157: '스포츠의류',
 1158: '편집샵',
 1164: '침구류',
 1165: '디자이너',
 1177: '화장품',
 1178: '디자이너',
 1180: '유아용품',
 1181: '스포츠의류',
 1186: '애완용품',
 1187: '대형가전',
 1191: '대형가구',
 1192: '스포츠의류',
 1194: '주방용품',
 1195: '곡류',
 1200: '패션잡화',
 1202: '기타',
 1204: '패션잡화',
 1205: '건강기능식품',
 1211: '기타',
 1212: '편집샵',
 1214: '편집샵',
 1216: '귀금속',
 1222: '편집샵',
 1223: '우육',
 1225: '편집샵',
 1226: '레져',
 1228: '편집샵',
 1229: '명품',
 1230: '컴퓨터',
 1231: '유아용품',
 1232: '기타',
 1236: '화장품',
 1237: '주류',
 1238: '농산물',
 1240: '레져',
 1241: '편집샵',
 1243: '디자이너',
 1244: '주방용품',
 1245: '편집샵',
 1246: '남성의류',
 1248: '건강기능식품',
 1251: '즉석식품',
 1253: '주류',
 1258: '레스토랑',
 1261: '농산물',
 1264: '남성의류',
 1266: '패션잡화',
 1267: '기타',
 1271: '남성의류',
 1274: '편집샵',
 1280: '침구류',
 1281: '수산물',
 1283: '농산물',
 1284: '기타',
 1285: '패션잡화',
 1286: '과일류',
 1287: '주방용품',
 1292: '생활가전',
 1294: '편집샵',
 1295: '편집샵',
 1298: '해산물',
 1302: '편집샵',
 1303: '곡류',
 1305: '기타의류',
 1306: '주방용품',
 1308: '대형가전',
 1309: '여성의류',
 1310: '기타',
 1312: '생활가전',
 1313: '편집샵',
 1320: '화장품',
 1321: '종합가구',
 1322: '남성의류',
 1323: '농산물',
 1329: '주방용품',
 1331: '공산식품',
 1334: '명품',
 1335: '남성의류',
 1337: '과일류',
 1338: '공산식품',
 1340: '편집샵',
 1347: '패션잡화',
 1348: '명품',
 1351: '즉석식품',
 1352: '패션잡화',
 1353: '명품',
 1354: '편집샵',
 1355: '명품',
 1357: '패션잡화',
 1359: '생활용품',
 1361: '명품',
 1363: '레스토랑',
 1364: '남성의류',
 1367: '편집샵',
 1368: '명품',
 1372: '건강기능식품',
 1375: '편집샵',
 1380: '생활가전',
 1383: '채소류',
 1387: '조류',
 1388: '대형가전',
 1390: '과일류',
 1391: '귀금속',
 1392: '화장품',
 1394: '케어용품',
 1397: '우육',
 1398: '공산식품',
 1401: '침구류',
 1403: '레져',
 1408: '농산물',
 1411: '편집샵',
 1413: '명품',
 1414: '우육',
 1415: '편집샵',
 1418: '편집샵',
 1421: '명품',
 1423: '해산물',
 1424: '주방용품',
 1425: '명품',
 1428: '스포츠의류',
 1431: '대형가구',
 1432: '여성의류',
 1433: '육류',
 1434: '대형가전',
 1435: '레스토랑',
 1437: '공산식품',
 1438: '남성의류',
 1439: '주방용품',
 1441: '화장품',
 1442: '명품',
 1448: '여성의류',
 1449: '명품',
 1450: '기타의류',
 1454: '농산물',
 1455: '명품',
 1456: '주방용품',
 1459: '레져',
 1461: '생활가전',
 1463: '곡류',
 1466: '곡류',
 1467: '대형가구',
 1468: '돈육',
 1472: '귀금속',
 1473: '편집샵',
 1476: '편집샵',
 1478: '생활가전',
 1479: '편집샵',
 1481: '공산식품',
 1482: '편집샵',
 1483: '공산식품',
 1484: '농산물',
 1486: '남성의류',
 1489: '남성의류',
 1490: '해산물',
 1492: '편집샵',
 1498: '패션잡화',
 1499: '스포츠의류',
 1501: '대형가전',
 1502: '편집샵',
 1503: '패션잡화',
 1504: '주류',
 1506: '과일류',
 1509: '패션잡화',
 1510: '침구류',
 1511: '귀금속',
 1513: '패션잡화',
 1515: '편집샵',
 1517: '대형가전',
 1518: '편집샵',
 1519: '패션잡화',
 1520: '남성의류',
 1521: '편집샵',
 1523: '명품',
 1528: '패션잡화',
 1530: '화장품',
 1532: '건강기능식품',
 1533: '편집샵',
 1534: '편집샵',
 1535: '유제품',
 1537: '남성의류',
 1538: '명품',
 1541: '스포츠의류',
 1546: '남성의류',
 1551: '편집샵',
 1554: '디자이너',
 1557: '스포츠의류',
 1559: '화장품',
 1560: '패션잡화',
 1566: '패션잡화',
 1568: '여성의류',
 1577: '레져',
 1578: '기타의류',
 1580: '공산식품',
 1582: '우육',
 1583: '편집샵',
 1584: '편집샵',
 1585: '명품',
 1586: '레져',
 1587: '대형가전',
 1591: '화장품',
 1593: '편집샵',
 1594: '대형가구',
 1597: '컴퓨터',
 1599: '생활가전',
 1600: '어류',
 1602: '편집샵',
 1603: '디자이너',
 1605: '생활가전',
 1606: '건강기능식품',
 1607: '명품',
 1609: '침구류',
 1610: '건강기능식품',
 1612: '농산물',
 1615: '패션잡화',
 1616: '생활가전',
 1620: '화장품',
 1621: '농산물',
 1624: '대형가구',
 1626: '레져',
 1627: '돈육',
 1630: '명품',
 1633: '편집샵',
 1635: '귀금속',
 1637: '대형가전',
 1639: '화장품',
 1642: '패션잡화',
 1645: '즉석식품',
 1647: '편집샵',
 1649: '편집샵',
 1651: '즉석식품',
 1652: '편집샵',
 1654: '편집샵',
 1656: '편집샵',
 1657: '농산물',
 1659: '편집샵',
 1662: '디자이너',
 1664: '명품',
 1665: '유제품',
 1667: '농산물',
 1669: '선물세트',
 1670: '여성의류',
 1674: '케어용품',
 1677: '패션잡화',
 1680: '건강기능식품',
 1681: '스포츠의류',
 1682: '디자이너',
 1683: '편집샵',
 1685: '기타',
 1688: '패션잡화',
 1689: '패션잡화',
 1690: '과일류',
 1691: '생활가전',
 1693: '스포츠의류',
 1695: '컴퓨터',
 1705: '기타',
 1706: '기타',
 1707: '기타의류',
 1709: '귀금속',
 1710: '귀금속',
 1711: '편집샵',
 1713: '남성의류',
 1715: '공산식품',
 1716: '편집샵',
 1717: '공산식품',
 1720: '패션잡화',
 1721: '패션잡화',
 1724: '스포츠의류',
 1725: '편집샵',
 1726: '공산식품',
 1727: '남성의류',
 1728: '명품',
 1731: '편집샵',
 1732: '유아용품',
 1733: '농산물',
 1736: '편집샵',
 1743: '편집샵',
 1744: '해산물',
 1746: '애완용품',
 1747: '명품',
 1751: '남성의류',
 1752: '공산식품',
 1756: '편집샵',
 1757: '편집샵',
 1761: '패션잡화',
 1764: '귀금속',
 1765: '건강기능식품',
 1770: '명품',
 1771: '주방용품',
 1772: '여성의류',
 1774: '어류',
 1777: '생활가전',
 1780: '편집샵',
 1781: '명품',
 1782: '디자이너',
 1783: '귀금속',
 1785: '농산물',
 1786: '화장품',
 1787: '패션잡화',
 1788: '건강기능식품',
 1789: '편집샵',
 1792: '기타',
 1794: '편집샵',
 1795: '편집샵',
 1796: '기타의류',
 1798: '스포츠의류',
 1800: '화장품',
 1801: '디자이너',
 1805: '남성의류',
 1807: '침구류',
 1809: '기타의류',
 1812: '화장품',
 1813: '기타',
 1814: '즉석식품',
 1815: '디자이너',
 1816: '편집샵',
 1818: '건강기능식품',
 1820: '패션잡화',
 1821: '편집샵',
 1823: '화장품',
 1824: '건강기능식품',
 1825: '패션잡화',
 1828: '생활가전',
 1829: '편집샵',
 1831: '패션잡화',
 1832: '애완용품',
 1834: '기타의류',
 1835: '편집샵',
 1838: '편집샵',
 1839: '생활용품',
 1840: '패션잡화',
 1841: '건강기능식품',
 1842: '편집샵',
 1844: '남성의류',
 1848: '레져',
 1850: '즉석식품',
 1852: '편집샵',
 1853: '스포츠의류',
 1854: '편집샵',
 1855: '레져',
 1859: '패션잡화',
 1862: '명품',
 1864: '명품',
 1865: '패션잡화',
 1866: '대형가구',
 1867: '패션잡화',
 1869: '레져',
 1872: '화장품',
 1874: '명품',
 1876: '패션잡화',
 1879: '편집샵',
 1880: '육류',
 1881: '즉석식품',
 1882: '레져',
 1886: '기타',
 1887: '화장품',
 1889: '남성의류',
 1891: '해산물',
 1892: '여성의류',
 1893: '패션잡화',
 1894: '육류',
 1895: '대형가구',
 1897: '우육',
 1899: '패션잡화',
 1902: '편집샵',
 1903: '편집샵',
 1905: '어류',
 1907: '디자이너',
 1908: '대형가구',
 1909: '편집샵',
 1911: '대형가구',
 1912: '편집샵',
 1914: '패션잡화',
 1916: '화장품',
 1917: '건강기능식품',
 1918: '편집샵',
 1919: '생활용품',
 1922: '편집샵',
 1923: '레져',
 1924: '패션잡화',
 1925: '명품',
 1926: '편집샵',
 1928: '스포츠의류',
 1930: '편집샵',
 1931: '편집샵',
 1933: '편집샵',
 1936: '우육',
 1937: '편집샵',
 1938: '편집샵',
 1940: '화장품',
 1941: '레져',
 1942: '공산식품',
 1943: '주류',
 1944: '디자이너',
 1946: '명품',
 1948: '편집샵',
 1950: '공산식품',
 1953: '화장품',
 1954: '명품',
 1956: '시계',
 1960: '화장품',
 1961: '명품',
 1962: '해산물',
 1963: '남성의류',
 1964: '편집샵',
 1968: '스포츠의류',
 1970: '남성의류',
 1973: '스포츠의류',
 1976: '편집샵',
 1980: '패션잡화',
 1984: '명품',
 1985: '편집샵',
 1991: '스포츠의류',
 1993: '명품',
 1994: '과일류',
 1996: '남성의류',
 2000: '채소류',
 2001: '패션잡화',
 2003: '채소류',
 2004: '편집샵',
 2005: '레져',
 2006: '편집샵',
 2007: '패션잡화',
 2008: '농산물',
 2009: '화장품',
 2011: '화장품',
 2012: '화장품',
 2014: '기타',
 2015: '우육',
 2019: '공산식품',
 2021: '공산식품',
 2026: '디자이너',
 2027: '명품',
 ...}

In [55]:
cust_no = 1

reco = pp_purprd_prodcl[pp_purprd_prodcl['분기']!='15_4']
for i in [1]:
    
    for i in range(len(Q_list[:-1]):
        reco_ = reco[reco['분기']==Q_list[i]]
        reco_gb_1 = reco_.groupby(by=['고객번호', '대중분류명'])['구매금액'].sum().reset_index()
        display(reco_gb_1)


            reco_gb[reco_gb['고객번호']==i].sort_values(by='구매금액', ascending=False)[:2]
        reco_gb[reco_gb['고객번호']==i].sort_values(by='구매금액', ascending=False)[:2]

         고객번호   대중분류명    구매금액
0           1  건강기능식품  860000
1           1    공산식품  333700
2           1      기타  711900
3           1    기타의류  118840
4           1    남성의류  485640
...       ...     ...     ...
408643  19336    공산식품   62600
408644  19336   스포츠의류  387000
408645  19337    공산식품    5360
408646  19337      담배    5200
408647  19337     유제품    5960

[408648 rows x 3 columns]

         고객번호   대중분류명     구매금액
0           1  건강기능식품  1911870
1           1    공산식품   228830
2           1      기타    66500
3           1    기타의류   241240
4           1    남성의류  1179710
...       ...     ...      ...
419269  19364    기타의류     3150
419270  19364   스포츠의류   336900
419271  19364    위생용품    24700
419272  19364    케어용품  1419720
419273  19364     화장품   189350

[419274 rows x 3 columns]

         고객번호   대중분류명     구매금액
0           1  건강기능식품  1911870
1           1    공산식품   228830
2           1      기타    66500
3           1    기타의류   241240
4           1    남성의류  1179710
...       ...     ...      ...
419269  19364    기타의류     3150
419270  19364   스포츠의류   336900
419271  19364    위생용품    24700
419272  19364    케어용품  1419720
419273  19364     화장품   189350

[419274 rows x 3 columns]

         고객번호   대중분류명     구매금액
0           1  건강기능식품   188100
1           1    공산식품   555610
2           1      기타   463400
3           1    기타의류    70000
4           1    남성의류  2361700
...       ...     ...      ...
430233  19373    케어용품     2000
430234  19379    공산식품    20000
430235  19379    케어용품    19400
430236  19379    패션잡화    78000
430237  19379     화장품    12900

[430238 rows x 3 columns]

         고객번호   대중분류명     구매금액
0           1  건강기능식품   188100
1           1    공산식품   555610
2           1      기타   463400
3           1    기타의류    70000
4           1    남성의류  2361700
...       ...     ...      ...
430233  19373    케어용품     2000
430234  19379    공산식품    20000
430235  19379    케어용품    19400
430236  19379    패션잡화    78000
430237  19379     화장품    12900

[430238 rows x 3 columns]

         고객번호   대중분류명    구매금액
0           1     감미료   35030
1           1  건강기능식품   27000
2           1     건어류    3750
3           1      곡류   27900
4           1    공산식품  542780
...       ...     ...     ...
450453  19380    공산식품   16800
450454  19380      기타    3000
450455  19380    생활용품    9900
450456  19380    케어용품   15000
450457  19380     화장품  478000

[450458 rows x 3 columns]

         고객번호   대중분류명    구매금액
0           1     감미료   35030
1           1  건강기능식품   27000
2           1     건어류    3750
3           1      곡류   27900
4           1    공산식품  542780
...       ...     ...     ...
450453  19380    공산식품   16800
450454  19380      기타    3000
450455  19380    생활용품    9900
450456  19380    케어용품   15000
450457  19380     화장품  478000

[450458 rows x 3 columns]

         고객번호 대중분류명    구매금액
0           1   가공육   10000
1           1    곡류  107000
2           1  공산식품  849780
3           1   과일류   16821
4           1    기타  133240
...       ...   ...     ...
443017  19382  케어용품   24100
443018  19382  패션잡화    5900
443019  19382   편집샵   49900
443020  19382   해산물    5180
443021  19382  헬스케어    5800

[443022 rows x 3 columns]

         고객번호 대중분류명    구매금액
0           1   가공육   10000
1           1    곡류  107000
2           1  공산식품  849780
3           1   과일류   16821
4           1    기타  133240
...       ...   ...     ...
443017  19382  케어용품   24100
443018  19382  패션잡화    5900
443019  19382   편집샵   49900
443020  19382   해산물    5180
443021  19382  헬스케어    5800

[443022 rows x 3 columns]

         고객번호 대중분류명     구매금액
0           1   건어류     5990
1           1  공산식품   324360
2           1   과일류    80360
3           1    기타   534240
4           1  남성의류  1879550
...       ...   ...      ...
450492  19382   해산물    11236
450493  19382   해조류     6000
450494  19382   화장품    17900
450495  19383  공산식품     4000
450496  19383  케어용품    23000

[450497 rows x 3 columns]

         고객번호 대중분류명     구매금액
0           1   건어류     5990
1           1  공산식품   324360
2           1   과일류    80360
3           1    기타   534240
4           1  남성의류  1879550
...       ...   ...      ...
450492  19382   해산물    11236
450493  19382   해조류     6000
450494  19382   화장품    17900
450495  19383  공산식품     4000
450496  19383  케어용품    23000

[450497 rows x 3 columns]

         고객번호 대중분류명     구매금액
0           1  공산식품   325670
1           1    기타  1000800
2           1   농산물    54000
3           1  디자이너   476900
4           1  레스토랑    44800
...       ...   ...      ...
452120  19383  즉석식품    23320
452121  19383  케어용품   275330
452122  19383  패션잡화   306200
452123  19383   편집샵   148900
452124  19383   화장품    70200

[452125 rows x 3 columns]

In [28]:
import pandas as pd

In [19]:
pp_purprd_prodcl[pp_purprd_prodcl['분기']!='15_4']

,고객번호,제휴사,영수증번호,점포코드,구매_연,구매_월,구매_일,구매시간,소분류코드,구매금액,대분류명,대중분류명,중분류명,제휴사_중분류명,소분류명,TYPE,lev,분기
0,1,A,1182697,12,2014,1,8,14,A010302,4800,식품,유제품,축산가공,A축산가공,유제품,편의품,중가,14_1
1,1,A,1239229,12,2014,1,18,15,A010302,3500,식품,유제품,축산가공,A축산가공,유제품,편의품,중가,14_1
2,1,A,1307657,12,2014,1,30,11,A010302,3900,식품,유제품,축산가공,A축산가공,유제품,편의품,중가,14_1
3,1,A,1402358,12,2014,2,18,16,A010302,3500,식품,유제품,축산가공,A축산가공,유제품,편의품,중가,14_1
4,1,A,1456379,12,2014,2,28,15,A010302,3500,식품,유제품,축산가공,A축산가공,유제품,편의품,중가,14_1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28437049,18697,C,631324,29,2014,5,30,21,C060405,2300,식품,즉석식품,베이커리,C베이커리,페스츄리류,편의품,중가,14_2
28437050,18697,C,631629,29,2014,7,20,15,C060405,2300,식품,즉석식품,베이커리,C베이커리,페스츄리류,편의품,중가,14_3
28437051,18710,C,1073027,75,2015,1,22,12,C030312,7990,식품,채소류,근채류,C근채류,기타한방약재,편의품,고가,15_1
28437052,18710,C,1073138,75,2015,1,29,21,C030312,7990,식품,채소류,근채류,C근채류,기타한방약재,편의품,고가,15_1
28437053,19364,D,209812,13,2015,7,11,21,D040112,10500,식품,공산식품,과자,D과자,컵아이스크림,편의품,중가,15_3