# Table of Contents

In [4]:
import pandas as pd
import os
import pickle
import matplotlib.pyplot as plt

## 파일, 변수 리스트

- 경쟁사이용: competitor
- 고객DOMO: demo
- 구매상품 TR: purprd
- 멤머십여부: member
- 상품분류: prodcl
- 채널이용: channel
- 분류: clf
- 분류로직: clf_logic

In [2]:
file_list = os.listdir('../../data')
sorted(file_list)

['경쟁사이용.txt',
 '고객DEMO.txt',
 '구매상품TR.txt',
 '멤버십여부.txt',
 '분류.docx',
 '분류.txt',
 '분류로직.csv',
 '분류로직.xlsx',
 '상품분류.txt',
 '채널이용.txt']

### 1. 경쟁사이용

In [3]:
# 경쟁사이용
competitor = pd.read_csv('../../data/경쟁사이용.txt', encoding='cp949')
competitor

        고객번호 제휴사  경쟁사    이용년월
0          2   D  D02  201507
1         51   D  D01  201504
2         77   D  D02  201503
3         77   D  D02  201506
4         77   D  D02  201507
...      ...  ..  ...     ...
28154  19375   B  B01  201501
28155  19375   B  B01  201507
28156  19375   C  C03  201511
28157  19376   B  B01  201506
28158  19377   B  B01  201504

[28159 rows x 4 columns]

### 2. 고객DEMO

In [5]:
# 고객DEMO
demo = pd.read_csv('../../data/고객DEMO.txt', encoding='cp949')
demo

        고객번호 성별      연령대   거주지역
0          1  M    60세이상   60.0
1          2  M    60세이상  100.0
2          3  M    60세이상   33.0
3          4  F    60세이상   16.0
4          5  M    60세이상  100.0
...      ... ..      ...    ...
19378  19379  F  20세~24세   69.0
19379  19380  F  20세~24세   39.0
19380  19381  F  40세~44세  460.0
19381  19382  F  45세~49세  460.0
19382  19383  F  25세~29세  500.0

[19383 rows x 4 columns]

In [5]:
demo.연령대.value_counts()

45세~49세    4082
40세~44세    3677
50세~54세    3114
35세~39세    2769
55세~59세    1774
30세~34세    1679
60세이상      1303
25세~29세     685
20세~24세     283
19세이하        17
Name: 연령대, dtype: int64

### 3. 구매상품TR

In [17]:
# 구매상품TR
purprd = pd.read_csv('../../data/구매상품TR.txt', encoding='cp949')
purprd

,제휴사,영수증번호,대분류코드,중분류코드,소분류코드,고객번호,점포코드,구매일자,구매시간,구매금액
0,B,8664000,15,1504,B150401,17218,44,20140222,20,2420
1,B,8664000,16,1601,B160101,17218,44,20140222,20,1070
2,B,8664000,16,1602,B160201,17218,44,20140222,20,8060
3,B,8664000,18,1803,B180301,17218,44,20140222,20,6000
4,B,8664001,5,509,B050901,17674,44,20140222,22,1120
...,...,...,...,...,...,...,...,...,...,...
28593025,B,8116737,37,3709,B370904,7439,29,20150525,19,14000
28593026,B,8116738,37,3709,B370904,16421,29,20150525,20,6500
28593027,B,8116739,8,802,B080203,8266,29,20150525,13,16000
28593028,B,8116764,90,9001,B900103,14316,29,20150526,19,1000
28593029,B,8116741,8,802,B080203,16587,29,20150525,17,16000

In [13]:
purprd_mer = pd.merge(purprd, prodcl, how='inner', on=['제휴사','대분류코드','중분류코드','소분류코드'])
purprd_mer

,제휴사,영수증번호,대분류코드,중분류코드,소분류코드,고객번호,점포코드,구매일자,구매시간,구매금액,중분류명,소분류명
0,B,8664000,15,1504,B150401,17218,44,20140222,20,2420,탄산음료,사이다
1,B,8664007,15,1504,B150401,11303,44,20140222,13,2400,탄산음료,사이다
2,B,8919520,15,1504,B150401,13210,48,20150921,19,5250,탄산음료,사이다
3,B,6956422,15,1504,B150401,13823,12,20140813,18,2250,탄산음료,사이다
4,B,6957156,15,1504,B150401,18970,12,20140831,22,4900,탄산음료,사이다
...,...,...,...,...,...,...,...,...,...,...,...,...
28593025,B,7269975,14,1415,B141503,134,16,20141130,15,8900,전통과자,온라인팥빙수재료
28593026,B,7946814,68,6802,B680209,18484,26,20141227,14,1000,여성양말,여성발가락
28593027,B,7777110,7,702,B070203,5043,21,20151012,22,4510,즉석구이안주,즉석쥐포
28593028,B,7579178,7,703,B070305,4073,18,20140125,20,8900,마른안주,온라인 안주
28593029,B,8123279,36,3607,B360704,11509,29,20150821,13,2800,시니어건강용품,침실용품

#### 반기별 매출

In [14]:
#2014 상반기
purprd_mer[purprd_mer.구매일자<20140701].구매금액.sum()
#2014 하반기
purprd_mer[(purprd_mer.구매일자>=20140701)&(purprd_mer.구매일자<20150101)].구매금액.sum()
#2015 상반기
purprd_mer[(purprd_mer.구매일자>=20150101)&(purprd_mer.구매일자<20150701)].구매금액.sum()
#2015 하반기
purprd_mer[(purprd_mer.구매일자>=20150701)&(purprd_mer.구매일자<20160101)].구매금액.sum()

178128166215

### 4. 멤버십여부

In [15]:
# 멤버심 여부
member = pd.read_csv('../../data/멤버십여부.txt', encoding='cp949')
member

       고객번호  멤버십명    가입년월
0        11  하이마트  201512
1        21  하이마트  201506
2        37  하이마트  201306
3        43  하이마트  201403
4        44  하이마트  201411
...     ...   ...     ...
7451  19377    롭스  201411
7452  19379    롭스  201412
7453  19380    롭스  201412
7454  19381   다둥이  201506
7455  19383    롭스  201507

[7456 rows x 3 columns]

### 5. 상품분류

In [16]:
# 상품분류
prodcl = pd.read_csv('../../data/상품분류.txt', encoding='cp949')
prodcl

     제휴사  대분류코드  중분류코드    소분류코드    중분류명      소분류명
0      A      1    101  A010101    일용잡화      위생세제
1      A      1    101  A010102    일용잡화       휴지류
2      A      1    101  A010103    일용잡화      뷰티상품
3      A      1    101  A010104    일용잡화      일용잡화
4      A      1    101  A010105    일용잡화      세트상품
...   ..    ...    ...      ...     ...       ...
4381   D      8    802  D080204  아이메이크업     아이섀도우
4382   D      8    802  D080205  아이메이크업    메이크업세트
4383   D      8    803  D080301   립메이크업  립스틱/립라이너
4384   D      8    803  D080302   립메이크업   립글로즈/틴트
4385   D      8    804  D080401  네일메이크업  일반네일/케어류

[4386 rows x 6 columns]

### 6. 채널이용

In [19]:
# 채널이용
# 이용횟수 = 최근 3개월간 방문횟수
# 기준이 20151231 인가?
channel = pd.read_csv('../../data/채널이용.txt', encoding='cp949')
channel

       고객번호           제휴사  이용횟수
0         7  A_MOBILE/APP     4
1        14  A_MOBILE/APP     1
2        42  B_MOBILE/APP    23
3        74  A_MOBILE/APP     1
4        74  B_MOBILE/APP    30
...     ...           ...   ...
8819  19168  C_ONLINEMALL    18
8820  19291  C_ONLINEMALL     1
8821  19312  B_ONLINEMALL   137
8822  19351  C_ONLINEMALL    19
8823  19356  C_ONLINEMALL    16

[8824 rows x 3 columns]

In [20]:
channel.제휴사.value_counts()

B_MOBILE/APP    5170
A_MOBILE/APP    1435
B_ONLINEMALL    1328
C_ONLINEMALL     618
D_MOBILE/APP     227
C_MOBILE/APP      46
Name: 제휴사, dtype: int64

### 7. 분류

In [21]:
clf = pd.read_csv('../../data/분류.txt', encoding='cp949')
clf

            CAT CATEGORY TYPE
0       A01가공식품       식품  일용품
1       A01건강식품       식품  선매품
2         A01기타      멀티샵  일용품
3        A01농산물       식품  일용품
4        A01수산품       식품  일용품
..          ...      ...  ...
801       D07여성      이미용  일용품
802   D08네일메이크업      이미용  일용품
803    D08립메이크업      이미용  일용품
804  D08베이스메이크업      이미용  일용품
805   D08아이메이크업      이미용  일용품

[806 rows x 3 columns]

### 8. 분류로직

In [22]:
clf_logic = pd.read_csv('../../data/분류로직.csv', encoding='cp949')
clf_logic

            CAT CATEGORY  UPRICE      QTY    AVG   AVGVS  LEV
0       A01가공식품       식품   14650  1260715   7926      1.8  중가
1       A01건강식품       식품  139926    53366   7926     17.7  고가
2         A01기타      멀티샵   96379      649  96379      1.0  중가
3        A01농산물       식품   15090   820228   7926      1.9  중가
4        A01수산품       식품   30602   199657   7926      3.9  고가
..          ...      ...     ...      ...    ...      ...  ..
801       D07여성      이미용   48304      400  54507      0.9  중가
802   D08네일메이크업      이미용   10981      824  54507      0.2  저가
803    D08립메이크업      이미용   17839     1925  54507      0.3  저가
804  D08베이스메이크업      이미용   25196     1371  54507      0.5  저가
805   D08아이메이크업      이미용   15125     3587  54507      0.3  저가

[806 rows x 7 columns]

# 메인 데이터

##

In [78]:
purprd_prodcl[purprd_prodcl.중분류명=='두채류']

,제휴사,영수증번호,대분류코드,중분류코드,소분류코드,고객번호,점포코드,구매일자,구매시간,구매금액,중분류명,소분류명
5426843,C,9,3,304,C030401,10628,1,20140101,18,1280,두채류,두부류
5426849,C,11,3,304,C030401,7352,1,20140101,19,3980,두채류,두부류
5426850,C,11,3,304,C030404,7352,1,20140101,19,2000,두채류,콩나물
5426865,C,14,3,304,C030404,10040,1,20140101,14,1590,두채류,콩나물
5671291,C,17,3,304,C030404,1000,1,20140101,15,1950,두채류,콩나물
...,...,...,...,...,...,...,...,...,...,...,...,...
349234,C,11082693,3,304,C030404,18793,387,20150819,17,1480,두채류,콩나물
349259,C,11082701,3,304,C030401,18793,387,20150828,18,1500,두채류,두부류
711031,C,11082735,3,304,C030402,18793,387,20151004,14,1590,두채류,연두부류
711045,C,11082736,3,304,C030401,10294,387,20151004,17,1500,두채류,두부류
684659,C,11082749,3,304,C030404,18793,387,20151026,18,1300,두채류,콩나물

In [18]:
purprd_prodcl = pd.merge(purprd, prodcl, how='left')
purprd_prodcl = purprd_prodcl.sort_values(by='영수증번호')
purprd_prodcl

,제휴사,영수증번호,대분류코드,중분류코드,소분류코드,고객번호,점포코드,구매일자,구매시간,구매금액,중분류명,소분류명
5671370,C,1,6,605,C060503,2263,1,20140101,9,5950,기타조리식품,기타온장조리
5671371,C,2,15,1502,C150206,2263,1,20140101,12,1490,건면,기타건면
5671372,C,3,13,1307,C130703,18336,1,20140101,16,3980,즉석식품,즉석밥
5671373,C,4,1,101,C010104,18050,1,20140101,16,8990,국산과일,귤류
5671374,C,4,11,1102,C110201,18050,1,20140101,16,1100,탄산음료,탄산수
...,...,...,...,...,...,...,...,...,...,...,...,...
21740623,B,11096601,77,7706,B770601,6522,135,20151223,14,7900,규격RTC,찌개/탕(냉장)
21740624,B,11096601,79,7907,B790701,6522,135,20151223,14,27200,온라인해물연체,온라인해물연체류
12334107,B,11096601,73,7303,B730302,6522,135,20151223,14,4680,냉장간편식HMR,냉장간편식
21740618,B,11096601,73,7302,B730201,6522,135,20151223,14,10880,냉동HMR,냉동디저트HMR
21740611,B,11096601,14,1411,B141106,6522,135,20151223,14,3200,프리미엄과자,프리미엄파이

In [ ]:
9,92,17,8

In [ ]:
:'가공식품'
:'신선식품'
:'일상용품'
:'의약품/의료기기'
:'교육/문화용품'
:'디지털/가전'
:'가구/인테리어'
:'의류'
:'전문스포츠/레저'
:'패션잡화'
:'기타'

In [8]:
#백화점

In [73]:
purprd_prodcl[(purprd_prodcl.대분류코드==1)&(purprd_prodcl.제휴사=='A')].중분류명.unique(),\
purprd_prodcl[(purprd_prodcl.대분류코드==2)&(purprd_prodcl.제휴사=='A')].중분류명.unique(),\
purprd_prodcl[(purprd_prodcl.대분류코드==3)&(purprd_prodcl.제휴사=='A')].중분류명.unique(),\
purprd_prodcl[(purprd_prodcl.대분류코드==4)&(purprd_prodcl.제휴사=='A')].중분류명.unique(),\
purprd_prodcl[(purprd_prodcl.대분류코드==5)&(purprd_prodcl.제휴사=='A')].중분류명.unique(),\
purprd_prodcl[(purprd_prodcl.대분류코드==6)&(purprd_prodcl.제휴사=='A')].중분류명.unique(),\
purprd_prodcl[(purprd_prodcl.대분류코드==7)&(purprd_prodcl.제휴사=='A')].중분류명.unique(),\
purprd_prodcl[(purprd_prodcl.대분류코드==8)&(purprd_prodcl.제휴사=='A')].중분류명.unique(),\
purprd_prodcl[(purprd_prodcl.대분류코드==9)&(purprd_prodcl.제휴사=='A')].중분류명.unique()

(array(['가공식품', '차/커피', '농산물', '주류', '젓갈/반찬', '수산품', '육류', '축산가공', '일용잡화',
        '건강식품', '기타'], dtype=object),
 array(['구두', '보석', '피혁잡화', '섬유잡화', '화장품', '액세서리', '준보석/시계'], dtype=object),
 array(['아동'], dtype=object),
 array(['캐주얼', '디자이너', '란제리/내의', '시티웨어', '트래디셔널', '모피/피혁', '커리어', '기타의류',
        '블라우스'], dtype=object),
 array(['트래디셔널', '남성 트랜디', '남성정장', '셔츠', '남성캐주얼', '교복'], dtype=object),
 array(['스포츠', '골프용품'], dtype=object),
 array(['주방가전', '소형가전', '통신/컴퓨터', '대형가전', '악기', '전자/전기'], dtype=object),
 array(['명품'], dtype=object),
 array(['문구/팬시', '주방용품', '식기', '생활잡화', '가구', '침구/수예', '웨딩'], dtype=object))

In [ ]:
# a-1
{'가공식품':'가공식품', '차/커피':'가공식품', '농산물':'신선식품', '주류':'가공식품', '젓갈/반찬':'가공식품', '수산품':'신선식품', '육류':'신선식품', '축산가공':'가공식품', '일용잡화':'일상용품',
        '건강식품':'가공식품', '기타':'기타'}
# a-2
{'구두':'패션잡화', '보석':'패션잡화', '피혁잡화':'패션잡화', '섬유잡화':'패션잡화', '화장품':'일상용품', '액세서리':'패션잡화', '준보석/시계':'패션잡화'}
# a-3
대분류명 = '의류'
# a-4
대분류명 = '의류'
# a-5
대분류명 = '의류'
# a-6
대분류명 = '전문스포츠/레저'
# a-7
대분류명 = '디지털/가전'
# a-8
대분류명 = '기타'
# a-9
{'문구/팬시':'일상용품', '주방용품':'일상용품', '식기':'일상용품', '생활잡화':'일상용품', '가구':'가구/인테리어', '침구/수예':'가구/인테리어', '웨딩':'기타'}

In [76]:
purprd_prodcl[(purprd_prodcl.대분류코드==1)&(purprd_prodcl.제휴사=='B')].중분류명.unique(),\
purprd_prodcl[(purprd_prodcl.대분류코드==2)&(purprd_prodcl.제휴사=='B')].중분류명.unique(),\
purprd_prodcl[(purprd_prodcl.대분류코드==3)&(purprd_prodcl.제휴사=='B')].중분류명.unique(),\
purprd_prodcl[(purprd_prodcl.대분류코드==4)&(purprd_prodcl.제휴사=='B')].중분류명.unique(),\
purprd_prodcl[(purprd_prodcl.대분류코드==5)&(purprd_prodcl.제휴사=='B')].중분류명.unique(),\
purprd_prodcl[(purprd_prodcl.대분류코드==6)&(purprd_prodcl.제휴사=='B')].중분류명.unique(),\ # 이거 손군집
purprd_prodcl[(purprd_prodcl.대분류코드==7)&(purprd_prodcl.제휴사=='B')].중분류명.unique(),\
purprd_prodcl[(purprd_prodcl.대분류코드==8)&(purprd_prodcl.제휴사=='B')].중분류명.unique(),\ # 편의시설 레스토랑 카페..
purprd_prodcl[(purprd_prodcl.대분류코드==9)&(purprd_prodcl.제휴사=='B')].중분류명.unique(),\
purprd_prodcl[(purprd_prodcl.대분류코드==10)&(purprd_prodcl.제휴사=='B')].중분류명.unique(),\
purprd_prodcl[(purprd_prodcl.대분류코드==11)&(purprd_prodcl.제휴사=='B')].중분류명.unique(),\
purprd_prodcl[(purprd_prodcl.대분류코드==12)&(purprd_prodcl.제휴사=='B')].중분류명.unique(),\
purprd_prodcl[(purprd_prodcl.대분류코드==13)&(purprd_prodcl.제휴사=='B')].중분류명.unique(),\
purprd_prodcl[(purprd_prodcl.대분류코드==14)&(purprd_prodcl.제휴사=='B')].중분류명.unique(),\
purprd_prodcl[(purprd_prodcl.대분류코드==15)&(purprd_prodcl.제휴사=='B')].중분류명.unique(),\
purprd_prodcl[(purprd_prodcl.대분류코드==16)&(purprd_prodcl.제휴사=='B')].중분류명.unique()

(array(['버섯', '열매채소', '온라인버섯/열매채소'], dtype=object),
 array(['조리반찬', '시즌반찬'], dtype=object),
 array(['포장반찬', '포장젓갈'], dtype=object),
 array(['양곡', '잡곡류', '즉석도정미', '가공양곡'], dtype=object),
 array(['잎채소', '샐러드채소', '뿌리채소', '약초', '버섯류', '양념류', '열매채소', '친환경채소',
        '김치채소', '샐러드/간편채소', 'LOCAL잎채소', 'LOCAL김치채소', '식자재', '온라인잎/샐러드채소'],
       dtype=object),
 array(['대중선어', '생선선물세트', '냉동수산물', '도미/민어', '고등어/삼치', '오징어', '국산게/갈치',
        '대구', '기타구색생선', '조기/명태', '꽁치/가자미'], dtype=object),
 array(['마른안주', '해조류', '멸치건명태', '선물세트', '조미오징어', '쥐치포', '육포', '건오징어',
        '마른안주선물세트', '특산물', '즉석구이안주'], dtype=object),
 array(['편의시설', '레스토랑', '판매시설', 'Fast Food', '카페', '주유소'], dtype=object),
 array(['베이커리', '피자', '간편조리', '튀김조리', '구이찜조리', '구이', '튀김', '브랜드조리', '간식조리',
        '대용식', '밥류', '이벤트조리', '반찬류'], dtype=object),
 array(['흰우유', '냉장음료', '요구르트', '가공우유', '유제품', '브랜드빵', '치즈', '유가공', '디저트',
        '데일리처분'], dtype=object),
 array(['소스류', '식용유지', '조미료', '가루', '장류', '조미선물세트', '수입조미', '소금/설탕류',
        '액상조미료', '복합조미료', '향신료', '식자재'], dtype=object),
 array(['간편조리식품', '라면', '면류', '통조림', '잼', '인스턴트선물세트', '분유', '두유',
        '이유식/유아간식'], dtype=object),
 array(['건강식품', '커피', '차', '원두커피', '꿀', '인스턴트커피', '시즌차', '차선물세트', '담배',
        '커피선물세트'], dtype=object),
 array(['비스켓', '스낵', '파이', '캔디', '시리얼', '초콜릿', '안주', '한과', '껌', '선물세트',
        '수입과자', '간식용과자', '전통과자', '프리미엄과자', '종합과자'], dtype=object),
 array(['생수', '과채음료', '탄산음료', '두유', '커피차음료', '기능성음료', '이온음료', '수입음료'],
       dtype=object),
 array(['전통주', '맥주', '양주', '와인', '소주'], dtype=object))

In [23]:
purprd_prodcl[(purprd_prodcl.대분류코드==1)&(purprd_prodcl.제휴사=='C')].중분류명.unique(),\
purprd_prodcl[(purprd_prodcl.대분류코드==2)&(purprd_prodcl.제휴사=='C')].중분류명.unique(),\
purprd_prodcl[(purprd_prodcl.대분류코드==3)&(purprd_prodcl.제휴사=='C')].중분류명.unique(),\
purprd_prodcl[(purprd_prodcl.대분류코드==4)&(purprd_prodcl.제휴사=='C')].중분류명.unique(),\
purprd_prodcl[(purprd_prodcl.대분류코드==5)&(purprd_prodcl.제휴사=='C')].중분류명.unique(),\
purprd_prodcl[(purprd_prodcl.대분류코드==6)&(purprd_prodcl.제휴사=='C')].중분류명.unique(),\
purprd_prodcl[(purprd_prodcl.대분류코드==7)&(purprd_prodcl.제휴사=='C')].중분류명.unique(),\
purprd_prodcl[(purprd_prodcl.대분류코드==8)&(purprd_prodcl.제휴사=='C')].중분류명.unique()

(array(['국산과일', '수입과일', '견과류', '냉동과일', '건과일'], dtype=object),
 array(['잡곡', '양곡', '선식류'], dtype=object),
 array(['근채류', '버섯류', '두채류', '과채류', '계란류', '엽채류', '김치채소류', '양채류', '나물류'],
       dtype=object),
 array(['건어가공', '선어류', '건어류', '기타수산', '해물류', '선어가공'], dtype=object),
 array(['수입우육', '수입돈육', '국내산우육', '국내산돈육', '국내산계육', '기타축산'], dtype=object),
 array(['기타조리식품', '베이커리', '간편간식', '식사류', '반찬류'], dtype=object),
 array(['우유', '발효유', '냉장음료', '치즈버터'], dtype=object),
 array(['냉장수산', '냉장축산', '냉장농산'], dtype=object))

In [75]:
purprd_prodcl[(purprd_prodcl.대분류코드==1)&(purprd_prodcl.제휴사=='D')].중분류명.unique(),\
purprd_prodcl[(purprd_prodcl.대분류코드==2)&(purprd_prodcl.제휴사=='D')].중분류명.unique(),\
purprd_prodcl[(purprd_prodcl.대분류코드==3)&(purprd_prodcl.제휴사=='D')].중분류명.unique(),\
purprd_prodcl[(purprd_prodcl.대분류코드==4)&(purprd_prodcl.제휴사=='D')].중분류명.unique(),\
purprd_prodcl[(purprd_prodcl.대분류코드==5)&(purprd_prodcl.제휴사=='D')].중분류명.unique(),\
purprd_prodcl[(purprd_prodcl.대분류코드==6)&(purprd_prodcl.제휴사=='D')].중분류명.unique(),\
purprd_prodcl[(purprd_prodcl.대분류코드==7)&(purprd_prodcl.제휴사=='D')].중분류명.unique(),\
purprd_prodcl[(purprd_prodcl.대분류코드==8)&(purprd_prodcl.제휴사=='D')].중분류명.unique()

(array(['남성케어', '베이직케어', '집중케어', '클렌징', '선케어', '베이비케어'], dtype=object),
 array(['핸드/풋케어', '여성용품', '구강케어', '헤어케어', '바디케어'], dtype=object),
 array(['건강기능식품', '일반의약외품', '피트니스'], dtype=object),
 array(['음료', '과자'], dtype=object),
 array(['화장지/티슈', '방향/제습/탈취제', '기기'], dtype=object),
 array(['계절팩', '미용소품', '양말류', '전기용품', '여행용품', '안전용품', '우산/양산류', '파티/팬시용품'],
       dtype=object),
 array(['여성', '남성'], dtype=object),
 array(['베이스메이크업', '아이메이크업', '립메이크업', '네일메이크업'], dtype=object))

In [ ]:
purprd_prodcl.drop(['영수증번호','']).groupby('대분류코드').중분류명

In [39]:
a = purprd_prodcl.drop(['대분류코드','중분류코드','점포코드','구매시간','영수증번호'], axis=1).groupby(['고객번호','구매일자']).sum()

                  구매금액
고객번호  구매일자
1     20140108   42950
      20140113   24000
      20140114   41020
      20140115  132240
      20140117   42000
...                ...
19383 20151219   10250
      20151222   69300
      20151225   28150
      20151230    7820
      20151231    1600

[6001210 rows x 1 columns]

In [25]:
purprd_prodcl.구매시간.value_counts()

18    3135488
17    3119943
16    2780121
19    2511144
15    2428169
14    2121181
20    2049159
21    1986730
22    1972664
13    1878364
12    1675709
11    1335234
10     774512
23     676592
9      121623
8       20372
0        3433
7        1518
1         312
2         213
6         207
4         127
5         120
3          95
Name: 구매시간, dtype: int64

In [26]:
purprd_prodcl.구매금액.describe()

count    2.859303e+07
mean     2.367777e+04
std      2.089685e+05
min      1.000000e+00
25%      2.050000e+03
50%      4.290000e+03
75%      9.900000e+03
max      1.013300e+08
Name: 구매금액, dtype: float64

In [27]:
purprd_prodcl[(purprd_prodcl.중분류코드==801)&(purprd_prodcl.제휴사=='A')].sort_values(by='구매금액')

,제휴사,영수증번호,대분류코드,중분류코드,소분류코드,고객번호,점포코드,구매일자,구매시간,구매금액,중분류명,소분류명
2280510,A,2168330,8,801,A080125,791,15,20140618,14,200,명품,어덜트
10863537,A,5200634,8,801,A080116,13376,1,20150930,13,250,명품,명품시계기타
11416646,A,1761628,8,801,A080125,6282,20,20140417,19,400,명품,어덜트
19329805,A,3283936,8,801,A080102,6652,31,20141210,20,450,명품,수입잡화
20623383,A,5195836,8,801,A080125,2051,7,20150929,19,600,명품,어덜트
...,...,...,...,...,...,...,...,...,...,...,...,...
24197281,A,4573361,8,801,A080107,2290,1,20150624,13,74410000,명품,명품잡화보석
18734122,A,4593637,8,801,A080110,13376,1,20150627,16,87769260,명품,디자이너
16177915,A,1677262,8,801,A080106,14323,6,20140405,16,99960000,명품,명품잡화
6767459,A,1500785,8,801,A080106,14323,6,20140307,14,101110000,명품,명품잡화
11744343,A,1416069,8,801,A080106,14323,6,20140221,14,101330000,명품,명품잡화

In [28]:
purprd_prodcl.sort_values(by='구매금액', ascending=False).head(20)

,제휴사,영수증번호,대분류코드,중분류코드,소분류코드,고객번호,점포코드,구매일자,구매시간,구매금액,중분류명,소분류명
11744343,A,1416069,8,801,A080106,14323,6,20140221,14,101330000,명품,명품잡화
6767459,A,1500785,8,801,A080106,14323,6,20140307,14,101110000,명품,명품잡화
16177915,A,1677262,8,801,A080106,14323,6,20140405,16,99960000,명품,명품잡화
12640134,A,5526155,1,109,A010901,7801,1,20151120,13,93654000,주류,주류
20371265,A,3569101,5,503,A050308,17129,4,20150123,18,93166350,트래디셔널,타미힐피거상품군
18734122,A,4593637,8,801,A080110,13376,1,20150627,16,87769260,명품,디자이너
11137778,A,2220608,2,203,A020303,8079,1,20140627,10,82800000,화장품,색조 화장품
24197281,A,4573361,8,801,A080107,2290,1,20150624,13,74410000,명품,명품잡화보석
24197280,A,4573360,8,801,A080107,2290,1,20150624,13,74410000,명품,명품잡화보석
10128719,A,1862939,8,801,A080106,14323,6,20140503,15,72915000,명품,명품잡화
11346674,A,4391202,8,801,A080112,13376,1,20150526,13,71042900,명품,컨템포러리
2452316,A,4434191,4,402,A040212,8888,1,20150601,18,69046650,캐주얼,수입브릿지
2452317,A,4434192,4,402,A040212,8888,1,20150601,18,69046650,캐주얼,수입브릿지
13329761,A,3753522,8,801,A080103,7982,43,20150222,18,68215680,명품,수입의류
22388446,A,3946217,8,801,A080117,6673,43,20150324,16,68000000,명품,명품보석
8981962,A,2797174,8,801,A080116,610,1,20140927,17,67780000,명품,명품시계기타
21070207,A,2304352,8,801,A080116,6236,2,20140708,15,66000000,명품,명품시계기타
7108237,A,2748405,8,801,A080116,610,1,20140919,20,64780000,명품,명품시계기타
4148217,A,3581196,8,801,A080107,1334,1,20150125,14,61640000,명품,명품잡화보석
13779701,A,2743068,8,801,A080116,1945,1,20140918,13,56388200,명품,명품시계기타

In [29]:
purprd_prodcl[purprd_prodcl.고객번호==14323].sort_values(by='구매금액', ascending=False)

,제휴사,영수증번호,대분류코드,중분류코드,소분류코드,고객번호,점포코드,구매일자,구매시간,구매금액,중분류명,소분류명
11744343,A,1416069,8,801,A080106,14323,6,20140221,14,101330000,명품,명품잡화
6767459,A,1500785,8,801,A080106,14323,6,20140307,14,101110000,명품,명품잡화
16177915,A,1677262,8,801,A080106,14323,6,20140405,16,99960000,명품,명품잡화
10128719,A,1862939,8,801,A080106,14323,6,20140503,15,72915000,명품,명품잡화
4595938,A,1277303,8,801,A080106,14323,6,20140125,14,48540000,명품,명품잡화
...,...,...,...,...,...,...,...,...,...,...,...,...
27556823,B,7956700,21,2108,B210802,14323,26,20151031,15,400,종량제봉투,재사용봉투
23306876,B,7948721,21,2108,B210802,14323,26,20150227,12,400,종량제봉투,재사용봉투
11421432,C,7289233,17,1702,C170206,14323,205,20150818,10,400,청소욕실용품,종량제봉투
24686820,B,7942090,5,503,B050308,14323,26,20140802,17,400,열매채소,애호박
11587885,C,7285367,12,1206,C120601,14323,205,20150703,10,80,기타음주류,공병/공박스

In [30]:
purprd_prodcl[purprd_prodcl.고객번호==14323].구매금액.sum()

441835751

## 거주지 매핑

In [1]:
 area_code = {10. : '서울특별시 강북구',
              13. : '서울특별시 도봉구',
              16. : '서울특별시 노원구',
              20. : '서울특별시 중랑구',
              24. : '서울특별시 동대문구',
              27. : '서울특별시 성북구',
              30. : '서울특별시 종로구',
              33. : '서울특별시 은평구',
              36. : '서울특별시 서대문구',
              39. : '서울특별시 마포구',
              43. : '서울특별시 용산구',
              45. : '서울특별시 중구',
              47. : '서울특별시 성동구',
              49. : '서울특별시 광진구',
              52. : '서울특별시 강동구',
              55. : '서울특별시 송파구',
              60. : '서울특별시 강남구',
              65. : '서울특별시 서초구',
              69. : '서울특별시 동작구',
              72. : '서울특별시 영등포구',
              75. : '서울특별시 강서구',
              79. : '서울특별시 양천구',
              82. : '서울특별시 구로구',
              85. : '서울특별시 금천구',
              87. : '서울특별시 관악구',
              100. : '경기도',
              210. : '인천광역시',
              240. : '강원도',
              270. : '충청북도',
              300. : '세종특별자치시',
              310. : '충청남도',
              340. : '대전광역시',
              360. : '경상북도',
              410. : '대구광역시',
              440. : '울산광역시',
              460. : '부산광역시',
              500. : '경상남도',
              540. : '전라북도',
              570. : '전라남도',
              610. : '광주광역시',
              630. : '제주특별자치도'
             }

In [14]:
# demo_area = demo['거주지역'].map(lambda x:area_code[float(x)])
demo_area = demo.replace({'거주지역':area_code})
demo_area

        고객번호 성별      연령대       거주지역
0          1  M    60세이상  서울특별시 강남구
1          2  M    60세이상        경기도
2          3  M    60세이상  서울특별시 은평구
3          4  F    60세이상  서울특별시 노원구
4          5  M    60세이상        경기도
...      ... ..      ...        ...
19378  19379  F  20세~24세  서울특별시 동작구
19379  19380  F  20세~24세  서울특별시 마포구
19380  19381  F  40세~44세      부산광역시
19381  19382  F  45세~49세      부산광역시
19382  19383  F  25세~29세       경상남도

[19383 rows x 4 columns]

In [15]:
demo_area.성별 = demo_area['성별'].apply(lambda x: 0 if x=='M' else 1)
demo_area

        고객번호  성별      연령대       거주지역
0          1   0    60세이상  서울특별시 강남구
1          2   0    60세이상        경기도
2          3   0    60세이상  서울특별시 은평구
3          4   1    60세이상  서울특별시 노원구
4          5   0    60세이상        경기도
...      ...  ..      ...        ...
19378  19379   1  20세~24세  서울특별시 동작구
19379  19380   1  20세~24세  서울특별시 마포구
19380  19381   1  40세~44세      부산광역시
19381  19382   1  45세~49세      부산광역시
19382  19383   1  25세~29세       경상남도

[19383 rows x 4 columns]

In [7]:
demo_area[demo_area.고객번호==14323]

        고객번호 성별      연령대 거주지역
14322  14323  M  35세~39세  경기도

### merge

In [33]:
member, demo, channel, competitor

(       고객번호  멤버십명    가입년월
 0        11  하이마트  201512
 1        21  하이마트  201506
 2        37  하이마트  201306
 3        43  하이마트  201403
 4        44  하이마트  201411
 ...     ...   ...     ...
 7451  19377    롭스  201411
 7452  19379    롭스  201412
 7453  19380    롭스  201412
 7454  19381   다둥이  201506
 7455  19383    롭스  201507

 [7456 rows x 3 columns],
         고객번호 성별      연령대   거주지역
 0          1  M    60세이상   60.0
 1          2  M    60세이상  100.0
 2          3  M    60세이상   33.0
 3          4  F    60세이상   16.0
 4          5  M    60세이상  100.0
 ...      ... ..      ...    ...
 19378  19379  F  20세~24세   69.0
 19379  19380  F  20세~24세   39.0
 19380  19381  F  40세~44세  460.0
 19381  19382  F  45세~49세  460.0
 19382  19383  F  25세~29세  500.0

 [19383 rows x 4 columns],
        고객번호           제휴사  이용횟수
 0         7  A_MOBILE/APP     4
 1        14  A_MOBILE/APP     1
 2        42  B_MOBILE/APP    23
 3        74  A_MOBILE/APP     1
 4        74  B_MOBILE/APP    30
 ...     ...           ...   ...
 8819  19168  C_ONLINEMALL    18
 8820  19291  C_ONLINEMALL     1
 8821  19312  B_ONLINEMALL   137
 8822  19351  C_ONLINEMALL    19
 8823  19356  C_ONLINEMALL    16

 [8824 rows x 3 columns],
         고객번호 제휴사  경쟁사    이용년월
 0          2   D  D02  201507
 1         51   D  D01  201504
 2         77   D  D02  201503
 3         77   D  D02  201506
 4         77   D  D02  201507
 ...      ...  ..  ...     ...
 28154  19375   B  B01  201501
 28155  19375   B  B01  201507
 28156  19375   C  C03  201511
 28157  19376   B  B01  201506
 28158  19377   B  B01  201504

 [28159 rows x 4 columns])

In [35]:
demo.set_index('고객번호').join(member.set_index('고객번호'), on='고객번호').join(competitor.set_index('고객번호'), on='고객번호')

      성별      연령대   거주지역 멤버십명      가입년월  제휴사  경쟁사      이용년월
고객번호
1      M    60세이상   60.0  NaN       NaN    A  A01  201507.0
1      M    60세이상   60.0  NaN       NaN    A  A02  201504.0
1      M    60세이상   60.0  NaN       NaN    B  B01  201501.0
1      M    60세이상   60.0  NaN       NaN    B  B01  201502.0
1      M    60세이상   60.0  NaN       NaN    B  B01  201507.0
...   ..      ...    ...  ...       ...  ...  ...       ...
19379  F  20세~24세   69.0   롭스  201412.0  NaN  NaN       NaN
19380  F  20세~24세   39.0   롭스  201412.0  NaN  NaN       NaN
19381  F  40세~44세  460.0  다둥이  201506.0  NaN  NaN       NaN
19382  F  45세~49세  460.0  NaN       NaN  NaN  NaN       NaN
19383  F  25세~29세  500.0   롭스  201507.0  NaN  NaN       NaN

[43560 rows x 8 columns]

In [ ]:
big_cat = {
    '식품':['공산식품', '단순가공', '기타식품', '과일', '채소', '육고기', '조류', '어류', '연체류', '갑각류', '건어물', '어패류']
    '일상용품':['위생용품', '애완용품', '생활기구', '화장품', '기타일상용품', '유아용품']
    '의약품/의료기기':['의약품', '의료기기']
    '교육/문화용품':['문구', '완구', '서적', '악기', '예술']
    '디지털/가전':['컴퓨터', '생활가전', '소형가전', '소프트웨어', '기타가전']
    '가구/인테리어':['정적가구', '동적가구', '침구류', '기타가구']
    '의류':['남성의류', '여성의류', '아동의류']
    '전문스포츠/레저':['스포츠장비', '스포츠의류', '레져']
    '패션잡화':['귀금속', '기타패션']
    '기타상품':['기타']
}

In [ ]:
['BABY/INFANT':'아동의류',
 'BOYS 1':'아동의류',
 'BOYS 2':'아동의류',
 'DIY욕실용품':'기타일상용품',
 'DVD':'예술',
 'EDUCATION 1':'서적',
 'EDUCATION 2':'서적',
 'Fast Food':'기타식품',
 'GIRLS':'아동의류',
 'H&B선물세트':'화장품',
 'LOCAL김치채소':'채소',
 'LOCAL잎채소':'채소',
 'MP3/PMP':'기타가전',
 'NAVI/하이패스':'기타가전',
 'NB구두':'기타패션',
 'PC':'컴퓨터',
 'SPORTS/OUTDOOR':'레져',
 'TRAVEL':'레져',
 'TV':'생활가전',
 'VIDEOGAME':'소형가전',
 '가공건식품':'단순가공',
 '가공란':'단순가공',
 '가공분말류':'단순가공',
 '가공식품':'단순가공',
 '가공양곡':'단순가공',
 '가공우유':'단순가공',
 '가구':'정적가구',
 '가구/인테리어샵':'기타가구',
 '가루':'단순가공',
 '가방':'기타패션',
 '가방브랜드':'기타패션',
 '가습기':'소형가전',
 '가정잡화':'기타',
 '간식':'공산식품',
 '간식용과자':'공산식품',
 '간식조리':'단순가공',
 '간편간식':'단순가공',
 '간편요리':'단순가공',
 '간편조리':'단순가공',
 '간편조리생선':'단순가공',
 '간편조리식품':'단순가공',
 '간편조리행사':'단순가공',
 '간편채소':'단순가공',
 '감':'과일',
 '감귤':'과일',
 '감미료':'공산식품',
 '개인위생용품':'위생용품',
 '건강가전':'기타가전',
 '건강기능식품':'기타식품',
 '건강디지털기기':'기타가전',
 '건강선물세트':'기타식품',
 '건강식품':'기타식품',
 '건과':'단순가공',
 '건과일':'단순가공',
 '건면':'공산식품',
 '건어가공':'건어물',
 '건어류':'건어물',
 '건오징어':'건어물',
 '건전지':'기타',
 '견과류':'기타식품',
 '계란':'기타식품',
 '계란류':'기타식품',
 '계절팩':'기타',
 '고등어/삼치':'어류',
 '고양이용품':'애완용품',
 '골프':'스포츠장비',
 '골프용품':'스포츠장비',
 '공구':'기타',
 '공기청정기':'생활가전',
 '과실과일':'과일',
 '과자':'공산식품',
 '과채과일':'과일',
 '과채류':'과일',
 '과채음료':'공산식품',
 '교복':'아동의류',
 '교육':'서적',
 '교육보조재':'서적',
 '교환/보수용품',
 '구강용품':'위생용품',
 '구강케어':'위생용품',
 '구기용품':'스포츠장비',
 '구두':'패션잡화',
 '구색과일':'과일',
 '구이':'단순가공',
 '구이찜조리':'단순가공',
 '국내산계육':'조류',
 '국내산돈육':'육고기',
 '국내산우육':'육고기',
 '국내화장품':'화장품',
 '국산게/갈치':'어류',
 '국산과일':'과일',
 '국산과일선물세트':'과일',
 '굴비':'어류',
 '굴비/반건생선선물세트':'어류',
 '규격RTC':'공산식품',
 '규격생선선물세트':'어류',
 '균일가':'기타',
 '그릇/수저':'생활기구',
 '근채류':'채소',
 '기기':'기타가전',
 '기능성건강':'공산식품',
 '기능성음료':'공산식품',
 '기능헤어케어':'기타일상용품',
 '기저귀':'유아용품',
 '기초화장품':'화장품',
 '기타':'기타',
 '기타구색생선':'어류',
 '기타국소고기':'육고기',
 '기타수산':'어류',
 '기타음주류':'공산식품',
 '기타음향기기':'기타가전',
 '기타의류':'여성의류',
 '기타조리식품':'공산식품',
 '기타주방가전':'생활가전',
 '기타축산':'육고기',
 '기타회':'단순가공',
 '김/초밥':'공산식품',
 '김가공품':'공산식품',
 '김선물세트':'공산식품',
 '김치냉장고':'생활가전',
 '김치류':'공산식품',
 '김치채소':'채소류',
 '김치채소류':'채소류',
 '껌':'공산식품',
 '꽁치/가자미':'어류',
 '꿀':'단순가공',
 '나물':'채소',
 '나물류':'채소',
 '낚시':'레저',
 '남성':'남성의류',
 '남성 트랜디':'남성의류',
 '남성구두':'패션잡화',
 '남성베이직':'남성의류',
 '남성브랜드':'남성의류',
 '남성스포츠':'스포츠의류',
 '남성스포츠NPB':'스포츠의류',
 '남성스포츠PB':'스포츠의류',
 '남성스포츠특정':'스포츠의류',
 '남성시즌행사':'남성의류',
 '남성양말':'남성의류',
 '남성어덜트캐주얼':'남성의류',
 '남성용품':'생활기구',
 '남성이지캐주얼':'남성의류',
 '남성정장':'남성의류',
 '남성캐주얼':'남성의류',
 '남성케어':'생활기구',
 '남성행사':'남성의류',
 '남아':'아동의류',
 '냉동HMR':'공산식품',#가정간편식(HMR)
 '냉동MS':'공산식품',
 '냉동가공':'공산식품',
 '냉동간식':'공산식품',
 '냉동과일':'단순가공',
 '냉동규격생선':'단순가공',
 '냉동규격해물':'단순가공',
 '냉동대용식':'공산식품',
 '냉동만두':'공산식품',
 '냉동수산물':'단순가공',
 '냉장간식MS':'공산식품',
 '냉장간편식HMR':'공산식품',
 '냉장고':'생활가전',
 '냉장규격생선':'어류',
 '냉장기타MS':'공산식품',
 '냉장농산':'채소',
 '냉장면류':'공산식품',
 '냉장반찬':'공산식품',
 '냉장수산':'어류',
 '냉장식사HMR':'공산식품',
 '냉장식사MS':'공산식품',
 '냉장음료':'공산식품',
 '냉장축산':'육고기',
 '냉장햄세트':'공산식품',
 '네일메이크업':'화장품',
 '노트':'문구',
 '노트/지류':'문구',
 '농산물':'채소',
 '단무지류':'공산식품',
 '닭고기':'조류',
 '담배':'공산식품',
 '대구':'어류',
 '대용식':'공산식품',
 '대중선어':'어류',
 '대형가전':'생활가전',
 '덧신':'패션잡화',
 '데일리처분':'기타',
 '덴탈케어':'위생용품',
 '도미/민어':'어류',
 '도시락':'공산식품',
 '동물병원':'기타',
 '돼지고기':'육고기',
 '두발용품':'생활기구',
 '두부':'공산식품',
 '두유':'공산식품',
 '두채류':'채소류',
 '드럭스토어':'기타일상용품',
 '드레스화브랜드':'패션잡화',
 '등산':'레저',
 '디자이너':'여성의류',
 '디저트':'공산식품',
 '딸기':'과일',
 '떡':'공산식품',
 '라면':'공산식품',
 '라켓스포츠':'스포츠장비',
 '란제리':'여성의류',
 '란제리/내의':'여성의류',
 '란제리브랜드':'여성의류',
 '레몬':'과일',
 '레스토랑':'기타',
 '레저취미':'레져',
 '롤러보드':'스포츠장비',
 '립메이크업':'화장품',
 '마담/어덜트':'여성의류',
 '마른김':'단순가공',
 '마른안주':'단순가공',
 '마른안주선물세트':'단순가공',
 '만두':'공산식품',
 '맛집행사':'기타',
 '망고':'과일',
 '매트':'침구류',
 '맥주':'공산식품',
 '먹거리':'기타식품',
 '먹거리행사':'기타',
 '메론':'과일',
 '면도용품':'기타일상용품',
 '면류':'공산식품',
 '멸치':'단순가공',
 '멸치건명태':'건어물',
 '멸치황태미역선물세트':'단순가공',
 '명품':'기타',
 '모자':'패션잡화',
 '모피/피혁',
 '묵':'단순가공',
 '묵/즉석참기름':'단순가공',
 '문구/팬시':'문구',
 '문화용품':'예술',
 '물티슈':'위생용품',
 '미국산소고기':'육고기',
 '미술용품':'문구',
 '미시캐주얼':'여성의류',
 '미역/다시마':'단순가공',
 --------------------------------------------------------------------------------여기까지 상윤이
 '미용소품',
 '미용잡화',
 '미용티슈',
 '미입점행사',
 '믹서기',
 '밀대/걸레',
 '바나나',
 '바디용품',
 '바디케어',
 '반건생선',
 '반찬',
 '반찬류',
 '발효유',
 '밤',
 '밥류',
 '밥솥',
 '밥죽류',
 '방향/제습/탈취제',
 '배',
 '버섯',
 '버섯류',
 '베이비케어',
 '베이스메이크업',
 '베이직케어',
 '베이커리',
 '벨트',
 '벽지류',
 '병통조림',
 '병행수입',
 '보석',
 '보수용품',
 '복숭아',
 '복합샵',
 '복합조미료',
 '분식',
 '분유',
 '브랜드',
 '브랜드돼지고기',
 '브랜드빵',
 '브랜드조리',
 '브랜드침구',
 '브랜드푸드몰',
 '브랜드한우',
 '블라우스',
 '블루베리',
 '비스켓',
 '비즈니스정장',
 '비타민',
 '빵',
 '뿌리채소',
 '사과',
 '살충제',
 '상',
 '새우',
 '색조화장품',
 '샌들슬리퍼',
 '샐러드/간편채소',
 '샐러드채소',
 '생리대',
 '생리용품',
 '생선선물세트',
 '생선초밥',
 '생선회',
 '생수',
 '생활소형가전',
 '생활잡화',
 '생활한방',
 '서적',
 '석류',
 '선물세트',
 '선식',
 '선식류',
 '선어가공',
 '선어류',
 '선케어',
 '선풍기',
 '섬유유연제',
 '섬유잡화',
 '성인내의',
 '성인침구',
 '성인침구류',
 '세차용품',
 '세탁기',
 '세탁세제',
 '세탁용품',
 '셔츠',
 '소가구',
 '소금/설탕류',
 '소스류',
 '소시지',
 '소주',
 '소형가전',
 '소형음향기기',
 '수납용품',
 '수도용품',
 '수박',
 '수산품',
 '수영복',
 '수예소품',
 '수예시즌',
 '수입갈치',
 '수입감귤과일',
 '수입게',
 '수입고등어',
 '수입과일',
 '수입과자',
 '수입기타과일',
 '수입기타생선',
 '수입돈육',
 '수입돼지고기',
 '수입브랜드',
 '수입연어',
 '수입우육',
 '수입육',
 '수입육선물세트',
 '수입음료',
 '수입조미',
 '수입포도',
 '수족관용품',
 '순대',
 '슈즈용품',
 '슈즈행사',
 '스낵',
 '스카프',
 '스키',
 '스킨케어',
 '스타킹',
 '스트리트편집샵',
 '스포츠',
 '스포츠ACC',
 '스포츠NB',
 '스포츠브랜드편집',
 '스포츠슈즈',
 '스포츠웨어',
 '스포츠의류',
 '시계',
 '시니어건강용품',
 '시니어위생용품',
 '시리얼',
 '시즌/건강가전',
 '시즌반찬',
 '시즌슈즈',
 '시즌잡화',
 '시즌차',
 '시즌토탈',
 '시즌행사',
 '시티웨어',
 '시티캐주얼',
 '식기',
 '식사류',
 '식용유',
 '식용유지',
 '식자재',
 '썬글라스',
 '씨리얼',
 '아동',
 '아동내의',
 '아동복합샵',
 '아동브랜드',
 '아동슈즈',
 '아동양말',
 '아동침구',
 '아동침구류',
 '아동행사',
 '아동화브랜드',
 '아로마',
 '아웃도어퍼니처',
 '아이메이크업',
 '아이스크림',
 '악기',
 '안전용품',
 '안주',
 '애견용품',
 '애완/동물용품',
 '액상조미료',
 '액세서리',
 '야외/시즌용품',
 '야외용품',
 '약초',
 '양곡',
 '양념류',
 '양념육',
 '양념채소',
 '양말',
 '양말류',
 '양말선물세트',
 '양식',
 '양주',
 '양채류',
 '어묵맛살',
 '언더웨어행사',
 '에어컨',
 '여성',
 '여성NPB',
 '여성PB',
 '여성구두',
 '여성베이직',
 '여성양말',
 '여성용품',
 '여성위생용품',
 '여성이지캐주얼',
 '여성캐주얼브랜드',
 '여성특정',
 '여행용품',
 '연체',
 '열대과일',
 '열대과일기타',
 '열대과일선물세트',
 '열매채소',
 '엽채류',
 '영상',
 '예능학용품',
 '오디오',
 '오렌지',
 '오렌지과일기타',
 '오렌지과일선물세트',
 '오리고기',
 '오징어',
 '오토바이용품',
 '오피스용품',
 '온라인규격/간편조리생선',
 '온라인돼지고기',
 '온라인버섯/열매채소',
 '온라인양념/뿌리채소',
 '온라인양말',
 '온라인잎/샐러드채소',
 '온라인잡곡선식',
 '온라인저장과일',
 '온라인해물연체',
 '온라인화장품',
 '와인',
 '요구르트',
 '욕실용품',
 '우산/양산',
 '우산/양산류',
 '우유',
 '우육',
 '운동화',
 '워터스포츠',
 ------------------------------------------------여기까지 민섭이
 '원두커피',
 '원예용품',
 '웨딩',
 '위생용품',
 '윈터스포츠',
 '유/아동서적',
 '유가공',
 '유아동NPB',
 '유아동PB',
 '유아동용품',
 '유아동특정',
 '유아브랜드',
 '유아세제',
 '유아식기',
 '유아용품',
 '유아위생용품',
 '유아토들러',
 '유제품',
 '육가공품',
 '육류',
 '육포',
 '음료',
 '음반',
 '음반영상',
 '음식저장/보관',
 '음식조리',
 '의류잡화',
 '의자',
 '의자/상',
 '이동통신',
 '이벤트조리',
 '이온음료',
 '이유식/유아간식',
 '이지캐주얼브랜드',
 '인스턴트선물세트',
 '인스턴트커피',
 '일반서적',
 '일반욕실용품',
 '일반의약외품',
 '일반한우',
 '일반헤어케어',
 '일식',
 '일용잡화',
 '잎채소',
 '자동차 액세서리',
 '자동차 정비용품',
 '자동차 청소용품',
 '자동차 편의용품',
 '자동차방향제/소취제',
 '자동차장식용품',
 '자동차처분',
 '자두',
 '자몽',
 '자전거',
 '잡곡',
 '잡곡류',
 '잡화멀티샵',
 '장갑',
 '장류',
 '장식용품',
 '장착용품',
 '잼',
 '전구',
 '전기면도기',
 '전기요/장판',
 '전기용품',
 '전기전자',
 '전기포트',
 '전자/전기',
 '전자악기',
 '전자학습기',
 '전통간식',
 '전통과자',
 '전통주',
 '전화기/팩스',
 '젓갈/반찬',
 '젓갈류',
 '정수기',
 '제기용품',
 '제습제',
 '조개',
 '조개살',
 '조기/명태',
 '조리기',
 '조리도구',
 '조리반찬',
 '조리용기',
 '조명/전구',
 '조명기구',
 '조미김',
 '조미료',
 '조미선물세트',
 '조미오징어',
 '족발',
 '종량제봉투',
 '종합과자',
 '주거세제',
 '주니어스포츠',
 '주니어양말',
 '주니어웨어',
 '주류',
 '주방가전',
 '주방세제',
 '주방소형가전',
 '주방시즌/균일가',
 '주방용품',
 '주방정리',
 '주방주거세제',
 '주유소',
 '준보석',
 '준보석/시계',
 '중식',
 '쥐치포',
 '즉석구이김',
 '즉석구이안주',
 '즉석도정미',
 '즉석식품',
 '즉석참기름',
 '지갑',
 '지갑/벨트',
 '집중케어',
 '차',
 '차/커피',
 '차류',
 '차별화돼지고기',
 '차선물세트',
 '차음료',
 '참외',
 '천연조미료',
 '청소기',
 '청소욕실용품',
 '청소용품',
 '청소편의도구',
 '체리',
 '초콜렛',
 '초콜릿',
 '축산가공',
 '치즈',
 '치즈버터',
 '친환경과일',
 '친환경채소',
 '침구/수예',
 '카메라/캠코더',
 '카시트/매트',
 '카페',
 '캐주얼',
 '캐주얼슈즈',
 '캐주얼화브랜드',
 '캔디',
 '캔디껌류',
 '캠핑',
 '커리어',
 '커튼류',
 '커피',
 '커피류',
 '커피메이커/머신',
 '커피선물세트',
 '커피음료',
 '커피차음료',
 '컨세션',
 '컴퓨터주변기기',
 '케첩마요네즈',
 '콩나물',
 '쿠키케이크',
 '클렌징',
 '키위',
 '키위/석류',
 '키친타올',
 '탄산음료',
 '탈취제',
 '테이블',
 '토마토',
 '통신/컴퓨터',
 '통조림',
 '튀김',
 '튀김조리',
 '트래디셔널',
 '특산물',
 '특산물행사',
 '파이',
 '파인애플',
 '파티/팬시',
 '파티/팬시/시즌',
 '파티/팬시용품',
 '판매시설',
 '패브릭욕실용품',
 '패스트푸드',
 '편의시설',
 '포도',
 '포도/체리',
 '포장반찬',
 '포장반찬HMR',
 '포장젓갈',
 '표백제',
 '푸드코트',
 '풋/핸드케어',
 '프리미엄과자',
 '프리미엄매트',
 '피자',
 '피트니스',
 '피혁브랜드',
 '피혁잡화',
 '피혁토탈',
 '필기도구',
 '한과',
 '한방식재류',
 '한방차',
 '한식',
 '한우선물세트',
 '해물류',
 '해물선물세트',
 '해물연체류',
 '해조류',
 '해초',
 '해초류',
 '핸드/풋케어',
 '핸드백',
 '햄',
 '햄소시지',
 '행사',
 '향신료',
 '헤어스타일링',
 '헤어케어',
 '헬스용품',
 '호주산소고기',
 '홈시어터',
 '홈웨어',
 '홍인삼',
 '화장지',
 '화장지/티슈',
 '화장품',
 '화장품브랜드샵',
 '황태',
 '훼이셜케어',
 '휴대폰용품',
 '휴지통',
 '흰우유',
 '히터기']
-----------------------------------여기가지 지웅이